<a href="https://colab.research.google.com/github/qua2000/oohpy2/blob/main/OoH!Py_Python_for_Kids_Vol_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#***OoH!Py*** 
#**Python for Kids! Vol.2**

In [ ]:
%%html
<marquee style='width: 80%; color: white;'><b>Welcome to OoH!Py</b></marquee>

#Foreword


Hello everyone.

\
This is Vol.2 of OoH!Py Python for Kids.

\
Please visit Vol.1 first. ----> [![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1YrP2S-kpEKzaham3d4s7mq0Rsf0qUP7h#scrollTo=d6fDtCrhLWyx)

\
I could publish Vol.2 before being ready for the junior high school exam.

\
Hope you enjoying Vol.2 as well.


\
For more details on Colab please refer to 

→[Welcome to Colaboratory](https://colab.research.google.com/?utm_source=scs-index&hl=en)

and 

[Overview of Colaboratory Features](https://colab.research.google.com/notebooks/basic_features_overview.ipynb)

\
As for Python, you may learn more at

[Python basics](https://colab.research.google.com/github/data-psl/lectures2020/blob/master/notebooks/01_python_basics.ipynb)

or

[The Python Tutorial](https://docs.python.org/3/tutorial/index.html)

#Summary of operators, etc.


★ Arithmetic operator 

\

| Arithmetic | Symbol |
|:------:|:------:|
| Addition | `+` |
| Subtraction | `-` |
| Multiplication | `*` |
| Division | `/` |
|Exponentiation | `**` |  
| Division (quotient only) | `//` |
| Division (remainder only) | `%` |

\


★ Assignment operator

\

Here, it is called `Assignment operator`

which add, subtract, multiply, divide the number in the variable, and put the result back in the variable.


\
`=` Is also an assignment operator, and the operation is "assign".


\
Add and substitute: `sum = sum + x` → `sum + = x` 

Multiply and assign: `product = product * x` →` product * = x`

\

| Arithmetic | Symbol |
|:------:|:------:|
| Addition and assign | `+=` |
| Subtract and assign | `-=` |
| Multiply and assign | `*=` |
| Divide and assign | `/=` |

\


★ Comparison operator

\

| Meaning | Operator |
|:------:|:------:|
| Equal | `==` |
| Not equal | `! =` |
| Less than | `<` |
| Equal or less than | `<=` |
|Greater than | `>` |
| Equal or greater than | `> =` |
| It is an element | `in` |
| Not an element | `not in` |

\

---
Check it out

When a computer reads a program and moves (calculates), there are only three ways for move.

Computer is such a simple machine.

\
(1) Read programs in order (from top to bottom sequently) 

\
(2) Move repeatedly

\
(3) Movements are classified according to conditions (conditional branching / → case classification)

\
(2) is `for statement` and (3) is `if statement`.

★ Check it Out Part 2


\
Arithmetic problems can be almost solved if you can read the problem sentences 

accurately and organize the conditions written in the problem sentences 

so that you can easily understand problems.


\
It is important to interpret the problem accurately and organize the conditions.


\
The same is true for Python, so if you can organize data such as numbers and 

string/characters (informations), you can create a program.


\
It's important to think about how to organize your data.


\
Code-writing techniques can be learned soon if you have the basics.


\
Develop` think power (basics)` now

---
### Built-in functions

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


Frequently used `print()` is called `print function`


\

A `function` is a program that performs a fixed operation.


\
`print()`, `input()`, `int()`, `float()`, etc. are all functions.


\
They are `built-in function`.


\
It's literally a built-in function in Python that you can use without `import`.



\

For example, `print()` is actually a program consisting of dozens of lines, 

so if you write it every time you use it, you will die.


\
If you make it a function, it will be OK with just the code `print()`

---
Q?

In the numbers less than 100, find 10 numbers from the smallest that are 

divisible by 3 but not divisible by 5.

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



"A number that is divisible by 3 but not divisible by 5" appears periodically

with the least common multiple of 3 and 5 as one cycle.



\

If you look at the numbers that apply the condition from 1 to 15, 

there are `3`, `6`, `9`, `12`.


\
In one cycle from 15 to 30, the above four numbers plus 15 are 

`18`, `21`, `24`, `27` which are also applicable.


\
The other two numbers are 18 + 15 = `33` and 21 + 15 = `36` among 31 to 45.


\
The above 10 are (answers)



\

[ Python ]



Set the `count` variable to 0 first that counts up to 10.



\

Take out the numbers (data) from 1 to 99 in order and check if they apply or not.



\

"Dividable by 3 but not divisible by 5" is `x% 3 == 0 and x% 5! = 0`


\
Output the applicable number `print(x, end = ', '` and `count + = 1`



\

In addition, add a conditional process that says 

"interrupt/suspend `for loop`when count reaches 10".

```
if count == 10:
break
```

Note the indentation of `if loop`

In [ ]:
#Sanple

count = 0

for x in range(100):
  if x % 3 == 0 and x % 5 != 0:
    print(x, end = ', ')
    count += 1
    if count == 10:
      break

---
Q?

Calculate the sum of numbers from 0 to 99 that are not multiples of 3

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



The number of numbers from 0 to 99 that are not multiples of 3 is $ 99 \times  \dfrac {2} {3} = 66 $


\
Except for 0, the smallest number is 1 and the largest number is 98.


\
The sum is $ (1 + 98) \times 66 \div 2 = 3267 $ ... (answer)



\

[ Python ]



Set the sum `total` variable to 0.


\
Retrieve the number(data) from 0 to 99 in order 

and add the applicable numbers to `total`.

In [ ]:
#sample

total = 0

for i in range(0, 100):
  if i % 3 != 0:
    total += i
    #print(total, end =', ')   #  For observing changes in total

print(total, '・・・(Answer)')

---
Q?


I bought 10 apples for 160 yen each and melons for 240 yen each 

and the total price was 1840 yen.


\
Find how many I bought each.

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



This will be solved by equation.



\

Assuming that you bought x pieces of apples and y pieces of melons, 

you can express the problem statement in the formula below.


\
x + y ＝ 10 ・・・(1)



160 $\times$ x ＋ 240 $\times$ y ＝ 1840



\

If both sides of the equation are divided by 80


\
2 $\times$ x ＋ 3 $\times$ y ＝ 23 ・・・(2)


According to the calculation (2) - (1) $\times$ 2,

we find y = 3.・ ・ ・ (answer)

\
x = 10 - 3 = 7・ ・ ・ (answer)



\

[ Python ]



If you buy x apples and y melons, each of them is within 10.


\
(More accurately, 1840 $\div$ 240 = 7… 160, so y can be up to 7)



\

When considering all combinations in the range of 1 to 10 for both x and y

```
for x in range(1, 11):
  for y in range(1, 11):

```


If you make a double loop of for as above, 

you can make all combinations of x and y.



\

As a condition


```
      if x + y == 10 and 160 * x + 240 * y == 1840:
```


Find x, y that meet the conditions

```
        print ("apple", x, "pieces, melon", y, "pieces") 
```

In [ ]:
#sample code

for x in range(1, 11):
  for y in range(1, 11):
    if x + y == 10 and 160 * x + 240 * y == 1840:
      print("apple", x, "pieces，melon", y, "pieces")

apple 7 pieces，melon 3 pieces

---
Q?


I bought several apples for 160 yen each and some melons for 240 yen each 

and the total price was 1600 yen.


\
Find all the possible numbers of how many I bought each.

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



This is an Diophantine equation.


\
Assuming that you bought x apples and y melons, 

you can express the problem statement in the formula as below.

\
160 $\times$ x ＋ 240 $\times$ y ＝ 1600


\
If you divide both sides by 80


2 $\times$ x ＋ 3 $\times$ y ＝ 20



\

Since 2 $\times$ x and 20 are multiples of 2, 

we know that 3 $\times$ y is also a multiple of 2, so y is a multiple of 2.


\
We can find when y = 2, x = 7 ... (answer)



\

Once you know the above set of answer of x and y, 

increase y by 2 and decrease x by 3.


\
This technique is easier to solve this type of problem if you have a larger size of number.


\
In case y = 4, x = 4 ... (answer)


\
In case y = 6, x = 1 ... (answer)



\

[ Python ]



Suppose you bought x apples and y melons


\
From 1600 $\div$ 160 = 10 and 1600 $\div$ 240 = 6… 160, 

x is within 10 and y is within 6.


\
When thinking about all combinations of x and y in that range


```
for x in range(1, 11):
  for y in range(1, 7):
```

If you make a double loop of `for`, you can make all combinations of x and y.



\

Based on the As a condition, 

find x and y that meet the conditions and print each time


```
    if 160  * x + 240 * y == 1600:
      print ("apples", x, "pieces, melons", y, "pieces") 
```

In [ ]:
#sample code

for x in range (1, 11):
  for y in range (1, 7):
    if 160 * x + 240 * y == 1600:
      print(f"apple", x, "pieces, melon", y, "pieces")

apple 1 pieces, melon 6 pieces
apple 4 pieces, melon 4 pieces
apple 7 pieces, melon 2 pieces

---
Q?


There are Japanese sweets that cost 180 yen each.


\
In addition, the price of one bag of three Japanese sweets is 500 yen 

and the price of one box of 10 Japanese sweets is 1900 yen.


\
One day, sales were 19900 yen, and 107 Japanese sweets were sold in total.


\
How many bags did you sell on this day?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



From 19900 $\div$ 1900 ＝ 10… 900 and 19900 $\div$ 500 ＝ 39… 400


\
Number of boxes were sold at most 10  and number of bags is at most 39.



\

If the problem statement is expressed as x boxes for box sale, 

y bags for bag sale and z for 1 piece sale,

as total number of sale in all wa 107.

\
10 $\times$ x ＋ 3 $\times$ y ＋ z ＝ 107...(1)



\

Because the sales were 19900 yen


\
1900 $\times$ x ＋ 500 $\times$ y ＋ 180 $\times$ z ＝ 19900...(2)


\
Divide both sides of (2) by 10, 

190 $\times$ x ＋ 50 $\times$ y ＋ 18 $\times$ z ＝ 1990...(3)



\

First, in order to erase x, based on  (1) $\times$ 19 － (3), 

7 $\times$ y + z = 43


\
Examine the applicable y and z pairs,


\
(y ， z) ＝ (6，1) ， (5，8) ， (4，15) ， (3，22) ， (2，29) ， (1，36) ， (0，43)



\
This can be counted according to the same method of the previous problem,

If z = 1 and y = 6 are found, increase z by 7 and decrease y by 1.


\
In this set, case of applicable x found which is based on the formula (1) 

is only when (y, z) = (4,15), and x = 8


\
Therefore, the required y = 4 ... (answer)



\

[ Python ]



Number of box sale is at most 10, number of bag sale is at most 39 bags, 

and number of 1 piece sale is at most 107 pieces.



\

Assuming that x boxes are sold, y bags are sold, and z pieces are sold,

and thinking about all combinations of x, y and z,

code will be

```
for x in range(1, 11):
  for y in range(1, 40):
    for z in range(1, 108):
```

If you make a triple `for loop`, you can make all combinations of x, y, and z.



\

As a condition

```
      if 10 * x  3 * y + z == 107 and 1900 * x + 500 * y + 180 * z == 19900:
```

Calculate x, y, z that meet the conditions and display the answer (number of bags)

```
        print ("The number of bags sold is ", y, " bags and in this case, x = ",  x, ",  y = ",  y, ",  z = ", z, "was sold.") 
```


\

There will be a lot of indentation, but it shouldn't be confusing.


\
The basic idea is `count all cases and find the number that meets the conditions`.

In [ ]:
#sample code

for x in range(1,11):
  for y in range(1,40):
    for z in range(1,108):
      if 10 * x + 3 * y + z == 107 and 1900 * x + 500 * y + 180 * z == 19900:
        print ("The number of bags sold is ", y, " bags and in this case, x = ",  x, ",  y = ",  y, ",  z = ", z, "was sold.")

The number of bags sold is  4  bags and in this case, x =  8 ,  y =  4 ,  z =  15 was sold.

### It's an inequality problem

---

Q?



There are in total students in the three groups A to C of a cram school.


\
Regarding the number of students in each group, the following (1) and (2) are known.

\

(1): Three times the number of students in Group B is 

five or more than twice the number of students in Group A.


\
(2): The number of students in Group C is 7 or more less than 

50% of the total number of students in Groups A to C.

And It is more than 20 students in Group B.



\

At this condition, what is the number of students in Group B?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Python ]



As this problem has conditions such as "5 or more" and "7 or more", 

it is pretty hard to think as a math problem.

So solve this with Python.



\

Use the `comparison operator` "greater than or equal to" `> =` and 

"less than or equal to" `<=` to express the condition of the problem statement 

as an inequality.



\

The number of studentin group A, B, and C is 105 at most.


\
Make all combinations between 1 to 105 students each 

and find the combination that meets the conditions.



\

The code that creates a combination of numbers of students in A, B, and C is

```
for A in range(1, 106):
  for B in range(1, 106):
    for C in range(1, 106):
```

If the condition of the problem is expressed by `if statement`

```
      if A + B + C == 105 and (B * 3 >= A * 2 + 5) and (C >= B + 20) and (C <= (A + B + C) * 0.5 - 7):
```

Now let's look at all the combinations and find B

In [ ]:
#sample

for A in range(1, 106):
  for B in range(1, 106):
    for C in range(1, 106):
      if A + B + C == 105 and (B * 3 >= A * 2 + 5) and (C >= B + 20) and (C <= (A + B + C) * 0.5 - 7):
        print("B is", B, "students-----(Answer)")
        print("And A is", A, "students，C is ", C, "students")

B is 25 students-----(Answer)
And A is 35 students，C is  45 students

★ Comparison operator summary

\

| Meaning | Operator |
|:------:|:------:|
| Equal | `==` |
| Not equal | `! =` |
| Less than | `<` |
| Equal or less than | `<=` |
|Greater than | `>` |
| Equal or greater than | `> =` |
| It is an element | `in` |
| Not an element | `not in` |

\

###Integer

---
Q?


If it is divided by 25, the remainder of the division is 24 

and if it is divided by 16,  the remainder of the division is 15, 

what's the smallest number among these numbers?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

[ Arithmetic solution ]



The number is  (multiple of 25) -1 if it divided by 25, the number of 24 

and if it is divided by 16, the number of 15 is (multiple of 16) -1.


\
This means that if you add 1 to the number you want to find, 

you can divide it by 25 or 16 with no remainder.


\
Number divisible by 25 or 16 = common multiple of 25 and 16 → 25 × 16 = 400


\
If you add 1 to the number you want to find, you get 400, 

so the number you want = 399 ... (answer)



\

[ Python ]



Find the applicable number `x` in 1 to 1000


\
Since the numbers are searched in order from the smallest number, the number found first is the "smallest number".


\
If one is found, the `for loop` is interrupted


\
If you express the condition of "a number that is about 24 when divided by 25, and 15 when divided by 16,"

```
if x % 25 == 24 and x % 16 == 15:
```

 After printing, interrupt with `break`

In [ ]:
#sample

for x in range(1, 1000):
  if x % 25 == 24 and x % 16 == 15:
    print(x)
    break                      #If you find one, finish it

---
Q?


What is the number closest to 4700 out of the integers that are 

when divided by 11, remainder is 9 and divided by 9, remainder is 7?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



Pay attention to the difference between the number to divide and the remainder.

\

11 - 9 = 9 - 7 = 2, so this number to be found is 

a common multiple of 11 and 9 when 2 is added.


\
The smallest number is 11 x 9 - 2 = 97



\

Next, find a number close to 4700


As 4700 $\div$ 99 = 47 .... , 

99 $\times$ 47 － 2 ＝ 4651----＜Answer＞, 

99 $\times$ 48 － 2 ＝ 4750



\

[ Python ]



The number of candidates closest to 4700 is set to `a` and set to 0 at first.


\
Search in the range of 4000 or more and less than 5000


\
The number to be found may be larger than 4700.

\
In order to find a number with a small difference,

`abs()` function = function outputs `absolute value`


\

Search in order, and if you find a applicable number `x` that is close to 4700, 

put it in `a`.

\
The applicable numbers `a` is replaced.

In [ ]:
#sample

a = 0

for x in range(4000, 5000):
  if x % 11 == 9 and x % 9 == 7 and abs(a - 4700) > abs(x - 4700):
    a = x

print(a)

4651

---
Q?


There is a two-digit integer AB. 

\
If you put 0(zero) in between to make a 3-digit integer A0B, this number A0B is divisible by AB.


\
Also, if you put the number C between both ends to make a 5-digit integer CACBC, 

this number CACBC is also divisible by AB.


\
At this condition, the 5-digit integer CACBC is □.


\
Noted that A, B, and C are all different numbers, and none of them are 0.

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]


From the first condition of the problem, it is that AB $\times N = A0B.

\
With this foemula, we can find that N is not 1


\
Next, when (first place of the product of B $\times N) is B,

applicable combination set of  (B, N) are (2, 6), (4, 6), (5, 5), (6, 6), (8, 6)



\

Tenth place of A0B is 0(zero), so in the above set, 

tenth place of B $\times N is 1, 2, 2, 3, 4 and

first place of A $\times 5 or 6 is 9, 8, 8, 7, 6.

\
Under the above condition, applicable A is 1, 3, 6, 8.

\
When AB $\times N = A0B, applicable (A, B, N) is (1, 8, 6)



\

Furthermore, since the first plave of CACBC is C and the first place of 

B $\times (number) is 0, 2, 4, 6, 8, 

C should be any of these.

\
Check with 2, 4, 6, 8 and we find C = 6.


\
Therefore, CACBC = 61686 ... (Answer)


[ Python ]



Apply 1 to 9 to A, B, and C respectively,

create formula as 

`x = A * 10 + B` and` y = A * 100 + B` and 

`z = C * 10000 + A * 1000 + C * 100 + B * 10 + C`


\
Write the condition of the problem with `if statement`

and find A, B, C that meet the condition and output the answer.

In [ ]:
#sample

for A in range(1, 10) :
  for B in range(1, 10) :
    for C in range(1, 10) :
      x = A * 10 + B
      y = A * 100 + B
      z = C * 10000 + A * 1000 + C* 100 + B * 10 + C
      if A != B and A != C and B != C and y % x == 0 and z % x == 0 :
        print(" CACBC=", z, "-----＜Answer＞", "(AB=", x, " A0B=", y, ")")

### Number of cases

---
Q?


There are 5 different types of coffee cups and 3 different types of plates in a store.


\
How many ways of combination of cups and plates?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



There are 3 types of plates in each coffee cup.

\
Therefore 5 x 3 = 15 ways ... (answer)



\

[ Python ]



First, set the variable `count` to count ways of combination to 0.



\

Count all ways of combination with number of 1, 2, 3, 4, 5 numbered coffee cups 

and 10, 20, 30 numbered plates.


\
To make all combinations with a for loop

```
for cup in  1, 2, 3, 4, 5 :

  for plate in 10, 20, 30 :
```


Count each time you make a combination in this for loop


```
        count += 1
```


After counting all, print count


```
    print (count, 'ways')
```

In [ ]:
#sample
count = 0
for cup in  1, 2, 3, 4, 5 :
  for plate in 10, 20, 30 :
    #print(cup, plate)
    count += 1
print(count, 'ways')

---
Q?

If you put three cards, 2, 5, and 6, together to make a three-digit number, 

how many numbers can you make in total?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



If you decide number from the hundreds place, there are three ways 

to choose the number of hundreds places from 2, 5, and 6.


\
There are two ways to choose the number of tenth place, other than the number used for the hundreds.


\
There is one way to choose the number of ones other than the numbers used for hundreds and tens.

\

From the above, 3 $\times$ 2 $\times$ 1 = 6 ways ... (answer)

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Python ]



Set the variable `count` to 0



\

It would be OK if we could count the number of ways, 

so instead of 2, 5 and 6, use 2, 50, 600.

\
Let variable `A` be the hundreds place, `B` be the tens place, 

and `C` be the ones place.



\
The condition can be read as

A, B and C of three digit number ABC are different 

and the total should be 2 + 50 + 600 = 652.

\



Count when the total condition is met



\

Finally print the number of `count`

In [ ]:
#sample

count = 0

for A in 2, 50, 600:
  for B in 2, 50, 600:
    for C in 2, 50, 600:
      if A + B + C == 652:
        print(A, B, C)
        count += 1

print(count, "pieces")

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Using Python list ]



Make a box (list) named `cards` to hold 2, 5 and 6 cards,



`cards = [2, 5, 6]`



\

Create a counter named `count` that counts the number of 3 digits you made, 

and set it to 0 at the beginning.



`count = 0`



\

Let `x` be a variable that contains a number representing the hundreds digit, 

and enter numbers in `x` in the order of 2, 5, 6.



`for x in cards:`



Let `y` be a variable that contains the number representing the tens digit, 

and enter the numbers in `y` in the order of 2, 5, 6.



&emsp;`for y in cards:`



Let `z` be a variable that contains the number representing the ones digit, 

and enter the numbers in `z` in the order of 2,5,6.



&emsp;&emsp;`for z in cards:`



\

If you make a three-digit number with this procedure, you can also create 

numbers with the same numbers such as 225, 565, and 666.


\
To count only the three-digit number made up of three different numbers


\
Count only "if numbers are different in all three"



\

&emsp;&emsp;&emsp;`if x !=y and y != z and z != x:`


\
When the applicable x, y, z pair is found, add 1 to the count counter.


\
&emsp;&emsp;&emsp;&emsp;`count += 1`


\
Finally output the number of counters


\
`print(count)`

In [ ]:
#sample

cards = [2, 5, 6]                                         
count = 0                                                  
for x in cards:
  for y in cards:
    for z in cards:
      if x !=y and y != z and z != x:
        #print(x,y,z)       # When you want to check the combination of x, y, z, remove # 
        count += 1
print(count, 'pieces')

I made a list `cards` in above example, but since there are few, 

it is OK even if you do not use a list.

In [ ]:
#another sample
                                       
count = 0                                                  
for x in 2, 5, 6:
  for y in 2, 5, 6:
    for z in 2, 5, 6:
      if x !=y and y != z and z != x:
        #print(x,y,z)     
        count += 1
print(count, 'pieces')

####itertools


With using `permutations` and  `combinations` functions 

in a collection of programs called `itertools module` 

you can write neatly code of sequences.

\

It's fun in the future.

\
At this stage you have better to get used to the program with `for` and `if`.



\

If you are interested, please check it out by Google.


\
Below is the code using itertools

In [ ]:
#Use the permutations function of the itertools module

import itertools

count = 0
cards = [2, 5, 6]
for x in itertools.permutations(cards, 3):
  print(x)                                
  count += 1

print(count)

###Function(Permutation)

---
Q?


How many ways are there if you choose 3 out of 5 different numbers 

and arrange them in a row?


ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

When calculating this by arithmetic,



5 $\times$ 4 $\times$ 3 = 60 ways




\
Then, what is the function program that calculates ways of arrangement 

if  selecting `b`pieces from different numbers of` a`pieces 

and arranging them in a row?

\
In the above problem, `b` is 3 and `a` is 5.

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


The name of the function is to be `Perm` (first 4 characters of permutation)


\
Define the function with the arguments `a` and` b`



\

In the case of `a` = 5, `b` = 3, it can be calculated by starting from 5 

to the third number as below.


\
`5 * (5 - 1) * (5 - 2)`



\

If this is the case of using `a` and `b`instead of actual nubers,

you can write `a * (a - 1) * (a - 2) * ・ ・ ・ * (a - b + 1)`



\

Initially name the variable for calculating the product 

as `p` (initial of product) and set it to 1.


\
If you set it to 0 same as in the case of sum, it will be 0 all the time, 

so set it to 1.


\
Then, the above formula is revised as 


`1 * a * (a - 1) * (a - 2) * ・・・ * (a - b +1)`

\

If the variable number subtracting from `a` is ` i` 

and the range of `i` is` range (b) `, then

`i` changes in the range from 0 to (b -1)



\

Expressing this in code,

```
for i in range(b):
  p *= (a - b)
```

`* =` is an assignment operator of multiplication.


\

Finally, the function returns `p` which is expressed as` return p`

In [ ]:
#sample

def Perm(a, b):
  p = 1
  for i in range(b):
    p *= (a - i)
  return p

print ('How to select b numbers from different numbers of a and arrange them in a row')

#This is the "how to write an abbreviation when you have multiple numbers input" that came out earlier.

a, b = (int(x) for x in input ('a > b, enter two numbers in a and b with spaces:').split ())

print (Perm(a, b), 'ways')

###Line up 4 persons

---
Q?


How many ways are A, B, C, and D arranged in a horizontal row?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]


There are 4 ways of A, B, C and D at the first positon.

\
The second is 3 ways of 3 people except the first one.

\
In the same way, the third is two ways and the fourth is one way.

\
In total, 4 $\times$ 3 $\times$ 2 $\times$ 1 = 24 ways ... (answer)



\

[ Python ]


The idea is the same as the above problem.

\
Set the counter `count` to 0.

\
The first position is expressed as 1, the 2nd is 2, the 3rd is 3, and the 4th is 4.


\
There are 1 to 4 positions for A and 1 to 4 for positions B, C, and D, as well 

so all combinations are 4 $times$ 4 $times$ 4 $times$ 4 = 256 ways.


\
The code that creates the combination has the same idea as the above problem.

```
for A in range(1,5):
  for B in range(1,5):
    for C in range(1,5):
      for D in range(1,5):
```

Count only if none of A, B, C, D are in the same position

```
        if A != B and A != C and A != D and B != C and B != D and C != D:
          count += 1
```

In [ ]:
#sample

count = 0

for A in range(1, 5):
  for B in range(1, 5):
    for C in range(1, 5):
      for D in range(1, 5):
        if A != B and A != C and A != D and B != C and B != D and C != D:
          count += 1

print(count, "ways")


Again, there is a way to write the code below to avoid indentation,


\
The large number of indents makes the program difficult to read 

when there is a lot of processing in the indents or 

in the case of a large program with hundreds of lines.

\
There is no problem in the case of such a short program like this.


\
On the contrary, getting used to indentation is important.

In [ ]:
#Code using list

s = [1,2,3,4]
list1 = [[a,b,c,d] for a in s for b in s for c in s for d in s ]

count = 0

for A, B, C, D in list1:
  if A != B and A != C and A != D and B != C and B != D and C != D:
          count += 1

print(count, "ways")

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Python another solution ]


As another way of thinking using numbers


\
First position is 1, second position is 10, 3rd is 100, and 4th is 1000 

so that condition can be processed by calculation.


\
In this case, the condition is met only when the total number is 

1 + 10 + 100 + 1000 = 1111.


\
if statement is

    if A + B + C + D == 1111:

In [ ]:
#anoth sample

count = 0

for A in 1, 10, 100, 1000:
  for B in 1, 10, 100, 1000:
    for C in 1, 10, 100, 1000:
      for D in 1, 10, 100, 1000:
        if A + B + C + D == 1111:
          #print(A,B,C,D)      # If you want to check 4 numbers, remove #
          count += 1

print(count, "ways")

###sum


For reference, I will also write the code using the list.


\
Indentation is reduced, but the above code is simpler and easier to understand



\

`sum()` is a built-in function that outputs the sum of the numbers in `()`


\
Since `group` is a list variable in the code cell below, 

` sum(group) `is output the sum of numbers of elements in the list.



\

No relation here, but


with `sum (group, 10000)`, you can also add 10000 to the sum of `group`.



\

In [ ]:
#Code using list


count = 0

n = [1, 10, 100, 1000]
list1 = [[A, B, C, D] for a in n for b in n for c in n for d in n ]

for group in list1:
  if sum(group) == 1111:
    count += 1
    #print(group)

print(count, 'ways')

###5 cards including 0

---
Q?

When you take out 4 cards from 5 cards of 0, 1, 2, 3, 4 and arrange them in order, 

how many 4-digit integers can you make in total?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



There are four ways of arranging in the thousand's place, one of 1, 2, 3, 4.


\
There are 4 numbers other than the numbers arranged in the 1000s and 0, 

and there are 4 ways that are arranged in the hundreds place.


\
There are three ways of arranging in the tenth place, except for the number 

in the hundreds place.


\
There are two ways in which one of the two numbers other than the number 

in the tenth place can be arranged in the ones place.



Therefore in total, 4 $\times$ 4 $\times$ 3 $\times$ 2 = 96 pieces ... ( Answer) 





\

[ Python ]



Make a list of cards [0, 1, 2, 3, 4] 

and make a box (variable) named `count` to count the number.

    cards = [0, 1, 2, 3, 4]

    count = 0

Let variable `x` be the thousand's place, `y` be the hundred's place, 

`z` be the tens place, and `u` be the one's place.


\
Make all possible combinations of x, y, z, u

    for x in cards:
      for y in cards:
        for z in cards:
          for u in cards:

You can't put a 0 card in the thousands, so you can use `for x in [1, 2, 3, 4]`



\

As conditions,

x, y, z, u must all be different numbers.


\
If x is 0, it will be 3 digits (when `for x in cards:` is used)


\
If there is a combination of x, y, z, u that satisfies the above two conditions, count.


           if (x != y and x != z and x != u and y != z and y != u and z != u) and x != 0 :
            count += 1

In [ ]:
#sample

cards = [0, 1, 2, 3, 4]
count = 0

for x in cards:
  for y in cards:
    for z in cards:
      for u in cards:
        if (x != y and x != z and x != u and y != z and y != u and z != u) and x != 0 :
          count += 1    
    
print(count, 'pieces')

###3 cards out of 5 multiply of 3

---
Q?


How many multiples of three are there in 3_digits numbers can be made by 

choosing 3 out of 5 cards of 0, 3, 4, 5, 6?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



The condition for numbers that are multiples of 3 is "the sum of each digit is a multiple of 3".


\
If you look at a combination where the sum when you select 3 out of 5 numbers is a multiple of 3


\
(Check in order from the smallest to avoid missing)



➀ (0, 3, 6)



② (0, 4, 5)



③ (3, 4, 5)



④ (4, 5, 6)


\
In each case, the number of 3-digit integers to be made is



➀ and ②: 2 $\times$ 2 $\times$ 1 = 4 ways



③ and ④: 3 $\times$ 2 $\times$ 1 = 6 ways



In total, 4 $\times$ 2 + 6 $\times$ 2 = 20 ... (answer)



\

[ Python ]



Make a list of cards [0, 3, 4, 5, 6] and 

make a box (variable) named `count` to count the number.

    cards = [0, 3, 4, 5, 6]
    count = 0


Let variable `x` be the hundreds place, `y` be the tens place, 

and `z` be the ones place, and create all possible combinations of `x`,` y`, and `z`.

    for x in cards:
      for y in cards:
        for z in cards:
\

As conditions

x, y, z must all be different numbers


If x is 0, it will be double digits.


sum of x + y + z is a multiple of 3

\
If there is a combination of x, y, z that meets the three conditions of, count


           if (x != y and y != z and z != x) and x != 0 and (x + y + z) % 3 == 0:
            count += 1

In [ ]:
#sample

cards = [0, 3, 4, 5, 6]
count = 0

for x in cards:
  for y in cards:
    for z in cards:
      if (x != y and y != z and z != x) and x != 0 and (x + y + z) % 3 == 0:  #(100*x+10*y+z)%3 is OK
        #print (x, y, z)                                                                                 
        count += 1 

print(count, "pieces")

20 pieces

###5枚から3枚　3の倍数

---
Q?

0, 3, 4, 5, 6の5枚のカードから3枚選んでつくることができる3けたの3の倍数は何個？

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

＜算数解法＞

3の倍数になる数の条件は，「各けたの和が3の倍数」だから，

5つの数から3つ選んだ時の和が3の倍数になる組み合わせを調べると

(モレがないように小さいほうから順序良く調べる）

➀ (0, 3, 6)

② (0, 4, 5)

③ (3, 4, 5)

④ (4, 5, 6)

それぞれの場合で3けたの整数になる場合の数は

➀と②：2 × 2 × 1 ＝ 4通り

③と④：3 × 2 × 1 ＝ 6通り

全部で，4 × 2 ＋ 6 × 2 ＝ 20個・・・(答)

\
＜[ Python ]

カードのリスト[0, 3, 4, 5, 6]を作り，個数を数える用にcount(カウント)という名前の箱(変数）を作る

    cards = [0, 3, 4, 5, 6]
    count = 0

\
百の位をx，十の位をy，一の位をｚとして，x,y,zがとり得るすべての組み合わせをつくる

    for x in cards:
      for y in cards:
        for z in cards:

\
x, y, zはどれも違う数でなくてはならない

xが0だと2けたになってしまう

x + y + z が3の倍数になる

の3つの条件をみたすx,y,zの組み合わせがあったら， `count`する

           if (x != y and y != z and z != x) and x != 0 and (x + y + z) % 3 == 0:
            count += 1

In [ ]:
#sample

cards = [0, 3, 4, 5, 6]
count = 0

for x in cards:
  for y in cards:
    for z in cards:
      if (x != y and y != z and z != x) and x != 0 and (x + y + z) % 3 == 0:  #(100*x+10*y+z)%3でもOK
        #print(x,y,z)     #数を出力させたいときは実行(#をはずす)                                                                                        
        count += 1             #count=count+1 と同じ式　(countに1をたしてからcount変数に入れ直す式)

print(count, "個")

20 個

### 5 to 3 multiples of 6

---

Q?

How many multiples of six are there in 3_digits numbers can be made by 

choosing 3 cards out of 5 cards of 0, 1, 2, 3, 4?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



The condition for number that is multiples of 6 is 

"number is even number and the sum of each digit is a multiple of 3".


\
If you look at a combination where the sum when you select 3 out of 5 cards 

is a multiple of 3


(Check in order from the smallest to avoid missing)

➀ (0, 1, 2)



② (0, 2, 4)



③ (1, 2, 3)



④ (2, 3, 4)



In each above case, the number of 3-digit even numbers is


➀: 3 ways of 102, 120, 210



②: 2 x 2 x 1 = 4 ways



③: Two ways, 132 and 312



④: 2 x 2 = 4 ways



In total, 3 + 4 + 2 + 4 = 13 ... (answer)



\

[ Python ]



The code is the similar flow because it is almost the same as the above problem.


\
However, code of "becomes a multiple of 6" is to be as follows


           (100*x + 10*y + z) % 6 == 0:

In [ ]:
#sample

cards = [0, 1, 2, 3, 4]
count = 0

for x in cards:
  for y in cards:
    for z in cards:
      if (x != y and y != z and z != x) and x != 0 and (100 * x + 10 * y + z) % 6 == 0:    
        #print(x,y,z)           
        count += 1             

print(count, "pieces")

13 pieces

###4children and father, mother


---
Q?


When four children and their parents are lined up side by side, how many ways 

are there four children lined up between their parents?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



There are two ways of arrangement for parents, father-mother and mother-father, 

at both ends.


\
Since four children are lined up in a row, 4 $\times$ 3 $\times$ 2 $\times$ 1 = 24 ways


\
In total, 2 $\times$ 24 = 48 ways ... (answer)



\

[ Python ]



Assuming that the positions of 6 people, parents and 4 children, are a, b, c, d, e, f, 

the parents are in the positions of a and f, and the children are in the positions of b, c, d, e.


\
Father is set to 5, mother is 50.


\
Let the children to be 1, 10, 100, 1000.

\
Since position a and f are 5 or 50 and b, c, d, e are 1, 10, 100, 1000, 

all combinations are

```
for a in 5, 50:
  for b in 1, 10, 100, 1000:
    for c in 1, 10, 100, 1000:
      for d in 1, 10, 100, 1000:
        for e in 1, 10, 100, 1000:
          for f in 5, 50:
```


If you express code of the condition that 

"parents are at both ends and children are lined up in a row"

                if a + f == 55 and b + c + d + e == 1111:


If there are a ~ f that meet this condition, count

In [ ]:
#sample

count=0
for a in 5,50:
  for b in 1,10,100,1000:
    for c in 1,10,100,1000:
      for d in 1,10,100,1000:
        for e in 1,10,100,1000:
          for f in 5,50:
            if a + f == 55 and b + c + d + e == 1111:
              #print(a,b,c,d,e,f)
              count += 1

print(count,'ways')


If you don't like a lot of indentation, think about the code 

by using the list you did above.

###Representative selection from 6 boys and 4 girls


---
Q?


How many ways to choose representatives of 2 boys and 1 girl 

from 6 boys and 4 girls?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



How to choose 2 out of 6 boys is $ \dfrac {6 × 5} {2 × 1}$ = 15 ways.


\
There are 4 ways to choose 1 out of 4 girls.


\
In total, 15 $\times$ 4 = 60 ways ... (answer)



\

[ Python ]


Boys are numbered as 1, 2, 3, 4, 5, 6 and girls are 10, 20, 30, 40.


\
Let the chosen person be boys = a, b and girl = c


\
Take out a and b from 1 to 6 and c from 10 to 40, and make all combinations.


\
When a = b, (a, b) = (2,5) and (5,2) are the same, so to avoid including them

\

`if a < b :`


\
Count the cases that apply to as `count + = 1`


\
Output with `print()` when the `for loop` is over

In [ ]:
#sample

count=0

for a in 1, 2, 3, 4, 5, 6:
  for b in 1, 2, 3, 4, 5, 6:
    for c in 10, 20, 30, 40 :
      if a < b :                  
        count += 1
        #print(a,b,c)
        
print(count, "ways")

###Divide 7 to 4 and 3

---
Q?

How many ways do you divide the 7 students into a quadruple room 

and a triple room?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



If students to enter the triple room are decided, other 4 students to the 

quadruple room are automatically decided.


\
How to choose 3 students from 7 people to enter the triple room is 

$ \dfrac {7 × 6 × 5} {3 × 2 × 1}$ = 35 ways ・ ・ ・ (answer)





\

[ Python ]



Let 7 students be numbered as 1 \~ 7 and let a, b, c be the students who enter the triple room.

\
Count all cases of a, b, c,


\
a, b, c are all different numbers, (a, b, c), (a, c, b), (b, a, c), (b, c, a), 

(c, a, b) , (c, b, a) are the same combination.

\
Count only if `a < b < c`

In [ ]:
#sample

count = 0
for a in range(1, 8):
  for b in range(1, 8):
    for c in range(1, 8):
      if a < b < c :       
        #print(a,b,c)
        count+=1
print(count, "ways")

###Deliver 7 to 4 persons


---
Q?


How many ways to pass 7 balls to 4 people by giving at least 1 to 4 people 

without leaving?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



As "pass 4 persons at least one each", if you pass one at a time, 

7 - 4 = 3 remian.


\
There are 3 patterns of (3, 0, 0, 0), (2, 1, 0, 0), (1, 1, 1, 0) to pass balls 

remained.


\
Count ways in each pattern, first pattern is 4 ways, 

second is 4 $\times$ 3 = 12 ways, and third is 4 ways.


\
In total, 4 + 12 + 4 = 20 ways ... (answer)



\

[ Python ]



The number of people is set to a, b, c, d balls.

\
If five or more ball were passed to one person, 

some people will not be able to receive ball.


\
The maximum number of ball that can be passed ot one person is four.


\
The range of a, b, c, d is from 1 to 4 and write code of calculating all cases.


\
If the condition that `a + b + c + d = 7` is met, count

In [ ]:
#sample

count=0

for a in range(1, 5):
  for b in range(1, 5):
    for c in range(1, 5):
      for d in range(1, 5):
        if a + b + c + d == 7:
          #print(a,b,c,d)
          count+=1

print(count, "ways")

### Two people sitting at a circle table next to each other



---

Q?



When six people a, b, c, d, e, and f sit around the circular table 

and the position of f is fixed,

how many ways do a and b sit next to each other?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



Since the position of f is fixed, it can be considered by arranging in one row 

instead of in a circular order.


\
There are two ways to arrange a and b, as (a, b) and (b, a).


\
Considering a and b as one person, there are 4 $\times$ 3 $\times$ 2 $\times$ 1 = 24 ways of 

arranging the four people (ab), c, d, and e.


\
In total, 2 $\times$ 24 = 48 ways ... (answer)



\

[ Python ]



The places where people other than f to sit are 1, 10, 100, 1000, 10000.


\
Count all cases where a, b, c, d, e sit,


\
If a and b are next to each other, 

then a + b = 11 `or`110`or`1100`or`11000.


\
If everyone sits in different places, a + b + c + d + e = 11111


\
Count the cases that meet the conditions

In [ ]:

count = 0
list1 = [1, 10, 100, 1000, 10000]

for a in list1:
  for b in list1:
    for c in list1:
      for d in list1:
        for e in list1:
          if (a + b == 11 or a + b == 110 or a + b == 1100 or a + b == 11000) and \
          a + b + c + d + e == 11111:
            #print(a,b,c,d,e)
            count+=1

print(count, "ways")

48 通り

### Five-digit number containing the same number

---

Q?



When making a 5-digit number by arranging 5 numbers of 1, 1, 2, 2, and 3, 

how many kinds of numbers can be made?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



Consider arranging 5 boxes and putting numbers in the boxes in order from 3.


\
There are 5 ways to put 3 because it is a way to choose one from 5 boxes.


\
Next, ways to put 2 (or 1 is fine) in the 4 boxes are calculated buy 

$ \dfrac {4 × 3} {2 × 1}$ = 6, since it is the same ways to 

choose 2 boxes from the remaining 4 boxes.



\
Boxes for 1 is automatically determined by the remaining 2 boxes, 

so there are 5 $\times$ 6 = 30 ways in total ... (Answer)

\

(Another solution)



If 1, 1, 2, 2, and 3 are numbers that can be distinguished from A1, B1, C2, D2, and E3,


\
5 $\times$ 4 $\times$ 3 $\times$ 2 $\times$ 1 = 120 ways in total


\
However, since there are two ways of arranging both of A1 and B1 and C2 and D2, 

there are 2 x 2 = 4 patterns of duplication.


\
Therefore, in total, 120 $\div$ 4 = 30 ways ... (Answer)



\

[ Python ]



In case of [1, 1, 2, 2, 3], when `a + b + c + d + e = 9` under the condition of sum,


1 + 1 + 2 + 2 + 3 = 1 + 1 + 1 + 2 + 2 etc. are also included as double.

\
So to avoid them, replace [1, 1, 2, 2, 3] with `[1, 1, 10, 10, 100]` to 

eliminate sum duplication.


\
Then, if `a + b + c + d + e = 122`, it seems double count is avoided.





\

However, since there are two 1s and two 2s in the finished number, 

for example, the number in which the first 1 and the second 1 are exchanged 

is to be double counted.



\
In this case, first, if you replace all the created numbers with the attached

 numbers (for example, [10, 1, 10, 100, 1] to `101101001`, 
 
 put it in the set `set`, and then count the number of its elements with` len() `.


\
Since the number of elements of `set ()` is not be double counted, 

we can get the correct ways.


\
The code for the above operation is as follows

```
if a + b + c + d + e == 122 :
  numbers.append(str(a) + str(b) + str(c) + str(d) + str(e))
  answer = len(set(numbers))
```


\

It doesn't really matter in this solution,

\
Importing the `pprint` module by the code of ` from pprint import * `

Using the `pprint` function

    pprint (list)

Then, the elements of the list are output with line breaks one by one.


\
It will be easier to see if the element is horizontally long

In [ ]:
from pprint import *

list1 = [1, 1, 10, 10, 100]

numbers = []

for a in list1 :
  for b in list1 :
    for c in list1 :
      for d in list1 :
        for e in list1 :
          if a + b + c + d + e == 122 :
            numbers.append(str(a) + str(b) + str(c) + str(d) + str(e))
            answer = len(set(numbers))

print(numbers)        #Display in a horizontal row
pprint(numbers)       #Display in a vertical column
print(answer, 'ways')

###3 different integers

---
Q?


There are three different integers, and the product of these three integers is  

greater by 4 than the sum of these three integers.


\
There are two sets of such three integers can be considered, 

but as for the set with the largest integer 4,

the product of three integers is [(1)], 

and as for another set, the product of three integers is [(2)].

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


(Answer) 

(1) = (1, 3, 4) 

(2) = (1, 2, 7)


\
[ Arithmetic solution ]



Let consider three integers as a < b < c.


\
If c = 4, the remaining two are either 1, 2, or 3, 

so if you look it up, the set of (a, b, c) is (1, 3, 4) ... (Answer of (1))


\
When a is 2 or more, even in the case of the smallest combination, 

2 $\times$ 3 $\times$ 4 = 24, 2 + 3 + 4 = 9, 

which is the product is larger by more than 4 than the sum.


\
Therefore, think with a = 1


\
As `1 * b * c = 1 + b + c + 4`,

looking for applicable b and c from the formula of 

`b * c = b + c + 5 → c = 1 + (c + 5) / b`, 

b = 2, c = 7 -----(Answer of (2))


\
It may be faster solution to check the case of a = 1 and b = 2



\

[ Python ]



As considering above solution, you may fix a = 1, but try 1 to 10 for each.


\
When a, b, and c are numbers in the range of 1 to 10, respectively.

```
a < b < c and (a * b * c = a + b + c + 4)
```
Then output a, b, and c if they satisfy the condition of the proble.

In [ ]:
#sample for both of (1) and (2)

for a in range(1, 10):
  for b in range(a + 1, 10):
    for c in range(b + 1, 10):
      if c == 4 and a < b < c and (a * b * c == a + b + c + 4):
        print('(1) :', a, b, c)
      elif a < b < c and (a * b * c == a + b + c + 4):
        print('(2) :', a, b, c)

(2) : 1 2 7
(1) : 1 3 4

### Number of stairs

---

Q?



When you go up the stairs in one step or two steps, 

how many ways do you go up the 12 steps of stairs?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


＜Answer＞



233 ways



\

[ Arithmetic solution ]



Search in order to find out how it works


\
In the case of 1 step: (1 step in 1 step) --- 1 way


\
In the case of 2 steps: (1 step + 1 step), ((2 steps for 1 step) ---> 2 ways


In the case of 3 steps: (1 step + 1 step + 1 step), (1 step + 2 steps),

(2 steps + 1 step) ---> 3 ways



\

Here, I changed way of thought a little.

\
It is one step or two steps to go up.


\
You can go up to the 3rd stair either from the 1st stair or from the 2nd stair,

 both of which are one way.


\
The number that goes up to the 3rd stair is 

(the number that goes up to the 1st step) $\times$ 1 +

 (the number that goes up to the 2nd step) $\times$ 1.


\
The method of going up to the third stair can be calculated 

as 1 $\times$ 1 + 2 $\times$ 1 = 1 + 2 = 3 ways.



\

Similarly, there are two ways to go up to the 4th step is to go up 

from the 2nd stair or the 3rd stair.


\
4th stage = (ways to 2nd stair) $\times$ 1 + (ways to 3rd stage) $\times$ 1 

\= (ways to 2nd stair) + (ways to 3rd stair) = 2 + 3 = 5 ways


\
5th stage = (ways to 3rd stair) + (way to 4th stair) = 3 + 5 = 8 ways



\

You can see that you should count up to 12 steps in this condition


\
③1 ＋ 2 ＝ 3, 

④2 ＋ 3 ＝ 5, 

⑤3 ＋ 5 ＝ 8, 

⑥5 ＋ 8 ＝ 13, 

⑦8 ＋ 13 ＝ 21, 

⑧13 ＋ 21 ＝ 34

⑨21 ＋ 34 ＝ 55,

⑩34 ＋55 ＝ 89,  

⑪55 ＋ 89 ＝ 144, 

⑫89 ＋ 144 ＝ 233 ways ---- (Answer)


\
As you all may know, it's a Fibonacci sequence.



\

[ Python ]



Since it is 1 step or 2 steps for going up, create a stair number list with `list1`


\
Set the number of steps to go up to the maximum of 12 steps (a ~ l)

\
Create a list called `numbers` that contains all possible going up patterns


\
The minimum number of steps is 12 $\div$ 2 = 6 steps

and the maximum number of steps is 12 $\div$ 1 = 12 steps.


\
So, there are 7 ways from `a + b + c + d + e + f` 

to` a + b + c + d + e + f + g + h + i + j + k + l`.


\
Count when the total is 12



\

For example, if `a + b + c + d + e + f = 12`, the remaining variables 

from g to l can be ignored.


\
Only `(a, b, c, d, e, f)` should be `append` in the` numbers` list.



In this case, `(a, b, c, d, e, f)` is only (2, 2, 2, 2, 2, 2) is applicable.

\
There are 2 $\times$ 2 $\times$ 2 $\times$ 2 $\times$ 2 $\times$ 2 = 64 ways in the remaining `g to l`.

\
That means there are 64 (2, 2, 2, 2, 2, 2, g, h, i, j, k, l) in the `numbers` list.


\
The same thing will happen in other cases from 

`a + b + c + d + e + f + g` to `a + b + .... + k`



\

The same combination must be counted as one, so if you count to the end, 

you should change the list_type`numbers` to the set_type by using `set()` 


\
Put the set_type `number` in `answer` and output.


\
When outputting `answer`, if` len (answer) `is used, 

the number of elements in the set can be counted.

\
In the case of a set, even if the order is different, 

in case the same element is included, it is counted as one.

\
As for `set`, please refer to [here](https://colab.research.google.com/github/vrry/learning-phyton/blob/learning-sets/PY0101EN_2_3_Sets.ipynb) for more details. 

\
It's a bit long code, but the idea is very simple.

In [ ]:
#sample

list1 = [1, 2]

list2 = [[a,b,c,d,e,f,g,h,i,j,k,l] for a in list1 for b in list1 for c in list1 for d in list1 for e in list1 for f in list1 for g in list1 for h in list1 for i in list1 for j in list1 for k in list1 for l in list1]

numbers = []

for a,b,c,d,e,f,g,h,i,j,k,l in list2 :
  if a + b + c + d + e + f == 12 :
    numbers.append((a,b,c,d,e,f))
 
  elif a + b + c + d + e + f + g == 12 : 
    numbers.append((a,b,c,d,e,f,g))
    
  elif a + b + c + d + e + f + g + h == 12 :
    numbers.append((a,b,c,d,e,f,g,h))
   
  elif a + b + c + d + e + f + g + h + i == 12 :
    numbers.append((a,b,c,d,e,f,g,h,i))   

  elif a + b + c + d + e + f + g + h + i + j == 12 :
    numbers.append((a,b,c,d,e,f,g,h,i,j)) 

  elif a + b + c + d + e + f + g + h + i + j + k == 12 :
    numbers.append((a,b,c,d,e,f,g,h,i,j,k)) 

  elif a + b + c + d + e + f + g + h + i + j + k + l == 12 :
    numbers.append((a,b,c,d,e,f,g,h,i,j,k,l)) 
    
answer = set(numbers)

print(len(answer), 'ways')


Since there is another code that uses `combinations` function (program that 

calculates combinations) in `itertools` module as shown below for your reference.


\
It's more fun to devise a program than to rely on a convenient program.

In [ ]:
#sample using itertools
#From 12 / 1 ＝ 12 and  12 / 2 ＝ 6, steps are at most 12 and at least 6.
#Let i be number of times of 1 and j be 2
#If the sum is 12, calculate how to arrange i times of 1s and j times of  2s.


from itertools import combinations

sum = 0
count = 0

for i in range(13) :
  for j in range(7) :
    sum = 1 * i + 2 * j
    if sum == 12 :
      ij_list = [1] * i + [2] * j
      list1 = list(combinations(ij_list, i))
      n = len (list1)                                     #len() tells the number in the list
      count += n

print (count,'ways')

### 4 people are rock-paper-scissors

---

Q?



Four people, A, B, C and D, play rock-paper-scissors.


\
(1) How many ways are there in total?

(2) How many ways are there to be draw?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



(1) Since each person has 3 ways of rock, paper and scissors to play, 

3 $\times$ 3 $\times$ 3 $\times$ 3 = 81 ways ... (Answer)


\
(2) Case_1 If everyone has the same hand, there are 3 ways


\
Case_2 When two people throw the same hand and the other two throw different hands


\
There are 6 ways to choose 2 out of 4 people.

3 ways to throw the same hand, rock, paper and scissors.

2 ways to choose 2 different hands.

6 $\times$ 3 $\times$ 2 = 36 ways in total.

\
Case_1 + Case_2 = 39 ways ... (answer)



\

[ Python ]



The counter of (1) is set to `count1`, the counter of (2) is set to` count2`, and 0 is set at first.



\

There are 3 types of hands, rock, paper and scissors, 

so the total combination of how to throw hands of 4 people is 

1, 2, and 3, respectively.


\
In the same way as the above problem, count the number of loops under this 

for loop (multiple loop), and count the number of loops wich is the answer of (1).

        for a in 1,2,3:
          for b in 1,2,3:
            for c in 1,2,3:
              for d in 1,2,3:
                count1 += 1

Draw is Case_1 when four people have the same hand.

                if a == b == c == d:
                  count2 += 1

Case_2  It is troublesome in case two people throw the same hand 

and the other two have different hands.


                if (a == b and a! = c and a! = d and c! = d) \
                or (a == c and a != b and a != d and b != d)\
                or (a == d and a != b and a != c and b != c)\
                or (b == c and b != a and b != d and a != d)\
                or (b == d and b != a and b != c and a != c)\
                or (c == d and c != a and c != b and a != b):
                  count2 += 1

 When separating lines in long code, separate them with `\` (back slash)
 
 and continue to the line below.


\
 If it applies to any of the 6 patterns, it will be a draw, 
 
 so all the conditions can be connected with `or`.

\
When the loop is over, the result is output at the end


             print ('(1)', count1, 'ways')
             print ('(2)', count2, 'ways')

Since it is outside the for loop indent, the beginning of print is the left end.

In [ ]:
#sample

count1 = 0
count2 = 0
for a in 1, 2, 3:
  for b in 1, 2, 3:
    for c in 1, 2, 3:
      for d in 1, 2, 3:
        count1 += 1
        if a == b == c == d:
          count2 += 1
        if (a == b and a != c and a != d and c != d)\
        or (a == c and a != b and a != d and b != d)\
        or (a == d and a != b and a != c and b != c)\
        or (b == c and b != a and b != d and a != d)\
        or (b == d and b != a and b != c and a != c)\
        or (c == d and c != a and c != b and a != b):
          count2 += 1
          #print(a, b, c, d)       #それぞれの手を表示させたいとき(#をはずす) 
print('(1)', count1, 'ways')
print('(2)', count2, 'ways')

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Python another solution ]



Method to calculate according to rock, paper, scissors as 1, 10, 100

\
Case of Case_2 can be expressed as follows


1 + 1 + 10 + 100 = 112


1 ＋ 10 ＋ 10 ＋ 100 ＝ 121


1 ＋ 10 ＋ 100 ＋ 100 ＝ 211

In [ ]:
count1 = 0
count2 = 0
for a in 1, 10, 100:
  for b in 1, 10, 100:
    for c in 1, 10, 100:
      for d in 1, 10, 100:
        count1 += 1
        if a == b == c == d :
          count2 += 1
        if (a + b + c + d == 112) or (a + b + c + d == 121) or (a + b + c + d == 211):
          count2 += 1
          #print(a,b,c,d)       #それぞれの手を表示させたいとき(#をはずす) 
print('(1)', count1, 'ways')
print('(2)', count2, 'ways')

### 5 apples and 6 oranges in 3 baskets a, b, c

---

Q?



Put 5 apples and 6 oranges in 3 baskets of a, b and c, and put 1 or more both 

of apple and orange in any of the baskets.


\
How many ways to put in with nothing left?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



The way to divide 5 apples into 3 is (1, 1, 3), (1, 2, 2).

\
As you put them in the basket of a, b, c,  there are 6 ways, 3 ways and 3 ways

in each case.


\
The way to divide 6 oranges into 3 is (1, 1, 4), (1, 2, 3), (2, 2, 2).

\
As you put them in the basket of a, b, c, there are in total 10 ways of

first case is 3 ways in the forst csae, 3 x 2 x 1 = 6 ways in the second case 

and 1 way in the last case.



In grand total, 6 x 10 = 60 ways ... (answer)



\

[ Python ]



Up to 3 apples and 4 oranges in one basket according to the conditions



\

The number of oranges in one basket is 1 to 4.

\

The number of apples in one basket is 1 to 3 and 

in order to distinguish the number of oranges, 

the number of apples is set to 10, 20, 30.

    orange_list = [1, 2, 3, 4]

    apple_list = [10, 20, 30]


The code that creates a list  (`list1`) of the total number of both

    list1 = []
    for x in apple_list:
      for y in orange_list:
        list1.append(x + y)


If you write this in one line in a list comprehension,

    list1=[(x + y) for x in apple_list for y in orange_list]

\

Let `count = 0` to count the number of cases

\
Create all cases of the total number of apples and oranges in a, b, c from list1.

    count = 0

    for a in list1:
      for b in list1:
        for c in list1:

The total number of oranges is 6, so it is 6.

\
The total number of apples is 5, so it is 50.

\
Count only when the total of all becomes 56,

          if a + b + c == 56:
            count += 1

Finally output the count number

    print (count, "ways")

In [ ]:
#sample

orange_list=[1, 2, 3, 4]
apple_list = [10, 20, 30]

list1 = []
for x in apple_list:
  for y in orange_list:
    list1.append(x + y)

count = 0
for a in list1:
  for b in list1:
    for c in list1:
      #print(a, b, c)
      if a + b + c == 56:
        #print(a, b, c)
        count += 1

print(count, "ways")

###multiple

---
Q?


Distribute apples to a group of girls and boys. 

\
If you distribute 4 to each girl and 3 to 1 boy, you can distribute all with no remainder.


\
Iif you distribute 3 to each girl and 5 to each boy, you can distribute all with no remainder.


\
However, if you give 5 to each girl and 2 to each boy, you run out of 9 apples.


\
Find the number of apples.

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



If the number of girls is set to `g` and the number of boys is set tp `b', 

the problem statement is expressed in a formula.


\
4 $\times$ g + 3 $\times$ b ＝ 3 $\times$ g ＋ 5 $\times$ b


\
From this formula, we can see that 1 $\times$ g = 2 $\times$ b, 

so the number of girls is twice that of boys.


\
Assuming that the number of boys is set to `x`, the number of girls is 2`x` 

and the number of apples is 4 $\times$ 2`x` + 3 $\times$ `x` = 11`x`.


\
From the last condition, from 5 $\times$ 2`x` ＋ 2 $\times$ `x` - 9 

＝ 12`x` － 9 ＝ 11`x`.

Accordingly `x` ＝ 9.


\
Therefore, the number of apples is 9 $\times$ 11 = 99 ... (answer)



\

[ Python ]


\

Assuming that the number of girls is g and the number of boys is b,

examine all combinations in the range of 1 to 100.

\
The calculation results of the three equations of the condition are equal.

\
Formulas representing the number of apples are

4 $\times$ g + 3 $\times$ b ＝ 3 $\times$ g ＋ 5 $\times$ b 

＝ 5 $\times$ g ＋ 2 $\times$ b - 9 


\
If you find the number of people under this condition,

the number of apples is calculated, the result is output.

In [ ]:
#sample

for g in range(1,101):
  for b in range(1,101):
    if 4 * g + 3 * b == 3 * g + 5 * b == 5 * g + 2 * b - 9:
      print(4 * g + 3 * b, 'pieces')


`var`function in `sympy` module came up in the backward calculation.

\
`var`function determines variables.

\
`solve` function is also in `sympy` module which solves an equation.
  
\
There is anther solution to use the above functions, but it will come out later.

---
Q?


Show all combinations where the sum of the two dice, large and small, is a multiple of 5.


\
Output as (large, small)  =  (xx, yy)

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


If the number of eye of large dice is `x` and eye of small dice is `y`, 

both numbers are 1 to 6.


\
Make all combinations of numbers `x` and `y`

\
The set of `x` and `y` applying to `(x + y) % 5 == 0` is to be found.


Output it, if any

In [ ]:
#sample

for x in range(1, 7) :
  for y in range(1, 7) :
    if (x + y) % 5 == 0:
      print("(large, small）= (", x, ",", y, ")")

###Velocity

---
Q?


How many minutes does it take to move at a speed of 120 m/min, 

while it takes 27 minutes to move at a speed of 24 km/h?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


This can be solved as an arithmetic problem, but

it would be solved with Python code.


\
(Distance) = (Speed) $\times$ (Time)


\
The code to calculate distance by aligning the units with minutes and meters is


    distance_m = 24 * 27/60 * 1000


The time it takes to move this distance at 120m/min is 

(time) = (distance) $\div$ (speed), 

and the code to calculate this is


    time = distance_m / 120

Output the time it takes


    print (time, "minutes")



ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


The English word for speed is `speed`, but` velocity` is also often used.


\
We often see `V` in the English letter for speed, which is an acronym for velocity.

\
The difference between spped and velocity is that velocity is used not only

as speed but also as "speed with a fixed direction".

\

The image is velocity = speed + direction

In [ ]:
#sample

distance_m = 24 * 27/60 * 1000

time = distance_m / 120

print(time, "minutes")

print(int(time), "minutes")    #When you want to make time an integer

---
Q?

Find `x`

It takes `x` minutes to run at a speed of 120 m/min 

and 14 minutes to run at a speed of 18 km/h.

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


You can solve it from the second half of the problem sentence.


\
As for the problem of speed, we can find a condition to know 

any two of the three elements (speed), (time), and (distance).


\
(Distance) = (Speed) x (Time)


    `distance_m = 18 * 14/60 * 1000`

The time it takes to run this distance at 120m/min is 

(time) = (distance) $\div$ (speed), 

and the code to calculate this is

    time = distance_m / 120


Output the time it takes

    print (time, "minutes")

In [ ]:
#sample

distance_m = 18 * 14/60 * 1000

time = distance_m / 120

#print(time, "minutes")

print(int(time), "minutes")

---
Q?


Alice and Bob competed in the 100m dash.



When Alice reached the goal, Bob was 10m to the goal.



If Alice starts 10m behind the starting point, who will win?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



From the condition at the first sentence of the question, 

the ratio of the speed of Alice and Bob is 100 : 90 = 10 : 9.


\
Under the following conditions, Alice runs 100 + 10 = 110m and Bob runs 100m,

 so you can compare the time ratios.


\
(110 $\div$ 10): (100 $\div$ 9) ＝ 11: 100/9 ＝ 99: 100, 

Therefore Alice wins ... (Answer)



\

[ Python ]



The idea is the same as above problem, 

assuming that Alice's velicity = alice_v and Bob's speed = bob_v.

    alice_v = 100

    bob_v = 90

Let's assume that each goal time in the next competition is 

`alice_t` and` bob_t`, respectively.


    alice_t = (100 + 10) / alice_v

    bob_t = 100 / bob_v

If you make an if statement which states who will win.


    if alice_t < bob_t:
      print ("Alice wins")
    elif alice_t == bob_t:
      print ("Draw")
    else:
      print ("Bob wins")

---
Q?


From point A to point B, when going at 3 km/h and returning at 6 km/h, 

what is the average speed per hour?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

[ Arithmetic solution ]



Note that (average speed) = (round_trip  distance) / (round_trip  time).



\

Since the distance between AB is not written, you can decide it yourself.


\
For this problem, it is easy to calculate if 3 $\times$ 6 = 18 km.



\

(Round trip distance) = 18 $\times$ 2 = 36km



(Round trip time) = 18 $\div$ 3 ＋ 18 $\div$ 6 ＝ 6 ＋ 3 ＝ 9 hours



Average speed = $\dfrac{36}{9}$ ＝ 4 km/hour・・・(Answer)





\

[ Python ]



The solving method is the same as above problem, 

so think about the code yourself.

In [ ]:

#sample


time_AtoB = 18/3

time_BtoA = 18/6

average_v = 18 * 2 / (time_AtoB + time_BtoA) 

print (int (average_v), "km/h")

###Age

---
Q?


Six years ago, the sum of the ages of my father, mother and elder brother was

13 times my age. 
 
Now, the sum of the ages of the three is seven times my age.


\
How old was I 6 years ago?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



Assuming that 6 years ago my age was `x`, 

the sum of the ages of the three is 13`x`.


\
My current age is (`x` + 6) years old 

and the sum of the ages of the three is 13`x` ＋ 3 $\times$ 6 ＝ 13`x` ＋18

\
Therefore, (`x` ＋ 6) $\times$ 7 ＝ 13`x` ＋18 

and solve this, then `x` ＝ 4 years old ---- (Answer)



\

[ Python ]



My age 6 years ago is `myage` and the ages of 3 people are `A` 

and range of `myage` and `A` is to be set in 1 to 20, 13 to 100, respectively.

\
If you find `myage` that meets the conditions, output it.


\
The condition of `if statement` expresses the condition of the problem. 

\
Note that `A` is the sum of the ages of three people, 

so it will increase by three years in one year.

    if A == myage * 13 and (myage + 6) * 7 == A + 3 * 6:

In [ ]:
#sample

for myage in range(1, 21):
  for A in range(13, 101):
     if A == myage * 13 and (myage + 6) * 7 == A + 3 * 6 :
       print(myage, 'years old')


There is also a solution to this problem with sympy's `solve` program, 

but that will be done later.

###profit and loss

---
Q?

At a shop a bag was on the sale at the price with 30% profit of the cost price.

But it was not sold, the price was discounted by 10% of the sales price.

When this was sold, the shop got profit of 255 Japanese yen.

Find the sales price of this bag.

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



Assuming that the cost price is 1, the sales price is 1 $\times$ 1.3 = 1.3.

\
The price after discount 1.3 $\times$ (1 - 0.1) = 1.17.


\
Since 0.17 is equivalent to the profit of 255 yen, 

the cost price 1 = 255 $\div$ 0.17 = 1500 yen.

\
The sales price is 1500 $\times$ 1.3 = 1950 yen ... (Answer)



\

[ Python ]



Cost price is set as `cost` and the range is set to about 1000 to 5000 yen 

to search for `cost` that meets the conditions.

\
If `cost` that meets the conditions is found, output it 

and break the for loop with break.



\

Since the type of `cost` is float = decimal (floating point number), 

it is converted to int = integer and displayed with `int()`.



\

The conditional statement is expressed by `iif statement`.

\
"if (the sales price) - (cost price) = (profit)" is expressed as it is,


    `cost * (1 + 0.3) * (1 - 0.1) - cost == 255`

In [ ]:
#sample

for cost in range(1000, 5000):
  if cost * (1 + 0.3) * (1 - 0.1) - cost == 255:
    print(cost * 1.3, 'yen')
    print(int(cost * 1.3), 'yen')
    break

###Numbers

---
Q?


Select two numbers from integers 2 to 9, and display all combinations of those

that are divisors of either.

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

Let `x` and `y` be the two numbers to select 

and search for a combination that is divisible by y $\div$ x.


\
"Select two numbers from integers 2 - 9" means two numbers are not same.


\
Select `x` from 2 to 9 and select `y` which is larger than `x`,

check all combinations.


\
Being a divisor means that "`y` is divisible by `x`".


\
The condition can be expressed as `y % x == 0`

In [ ]:
#sample

for x in range(2, 9) :
  for y in range(x + 1, 10) :
    if y % x == 0 :
      print (x, "is a divisor of", y)

---
Q?


Among integers such as 207, 2007, 20007, ..., where the beginning is 2, 

the end is 7, and the intervals are all 0s,

find the smallest number that is divisible by 27 but not divisible by 81?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



Since 2 + 7 = 9, we can see that this number is divisible by 9.


\
Since 27 = 9 $\times$ 3 and 81 = 9 $\times$ 9, divide from 207, 2007,... in order 

and find a number whose quotient is divided by 3 and not divided by 9.


\
207 $\div$ 9 = 23  ------> not divisible by 3


\
2007 $\div$ 9 = 223  ------> not divisible by 3


\
20007 $\div$ 9 = 2223 ------> The sum of the numbers of each place = 

3 + 2 × 3 = 9, which is divisible by 3, but also divisible by 9 

that is not applicable.


\
200007 $\div$ 9 = 22223  -------> not divisible by 3


\
2000007 $\div$ 9 = 222223 ------> not divisible by 3


\
20000007 $\div$ 9 = 2222223 -----> divisible by 3, not divisible by 9 

→ 200000007 ------ (Answer)


\
Even if you don't calculate everything, if you know the regularity of the quotient numbers, you don't need to divide.





\

[ Python ]



207 = 2 $\times$ 100 + 7 = 2 $\times$ (10 $\times$ 10) + 7



2007 = 2 $\times$ 1000 + 7 = 2 $\times$ (10 $\times$ 10 $\times$ 10) + 7



20007 = 2 $\times$ 10000 + 7 = 2 $\times$ (10 $\times$ 10 $\times$ 10 $\times$ 10) + 7


\
Therefore, let `x` be the number (power) that represents how many times 10 is multiplied 

and move it from 2 to 10 to create the number of problems.


\
The expression uses the `2 * (10 ** x) + 7` with arithmetic operator` ** `(power).


\
Assign this expression to the variable `n` for readability


\
The condition that "the number created is divisible by 27 and not divisible by 81"



`if n % 27 == 0 and n % 81 != 0:`



If meeting this condition, print that number and break the for loop.

In [ ]:
#sample

for x in range(2, 10) :
  n = 2 * (10 ** x) + 7
  if n % 27 == 0 and n % 81 != 0:
    print(n)
    break

20000007

If you write with while statement, the code will be as follows

In [ ]:
#while statement sample

x = 100

while True:                   #A cliché that means "repeat until conditions are met"
  n = 2 * x +7
  if n % 27 == 0 and n % 81 != 0:
    print(n)
    break
  else:
    x *= 10

20000007

###numbers

---
Q?


Find the odd number $a$ which is from 3 to 9999 and $ a × a - a $ is divisible by 10000.

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


We know that $a × a$ can be expressed as `a ** 2`.

\
This problem cannot be solved by elementary school's math level,

But it's easy to solve in Python.


\
In case $a$ is odd, write `for a in range (3, 10000, 2)`

Arguments in `range()` are `range(start, stop, step)`.

\
`range (start = first number, `

  `stop = next number after last number,`

  ` step = number to increase)`

\
With this, "from 3 to 9999 with increased by 2".


\
3, 5, 7, ..., 9999 are assigned to variables.


\
After that, output the number where `a ** 2 - a` is divided by 10000.

In [ ]:
#sample

for a in range(3, 9999, 2):
  if (a ** 2 - a) % 10000 == 0:
    print(a)

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


An odd $a$ is expressed as $ a = 2 \times x -1 $ when $ x = 1, 2, 3, ... $.


\
specifically



When $ x = 1 $,     $ a = 2 \times 1-1 = 1 $



When $ x = 2 $,    $ a = 2 \times 2-1 = 3 $



When $ x = 3 $,     $ a = 2 \times 3-1 = 5 $



\
When $ a = 9999 $,    $x = (9999 + 1) \div 2 = 5000$


\
Below is a pattern that calculates by putting a number from 2 to 5000 in x

In [ ]:
#a = 2x - 1 = 9999 then，x = 10000/2=5000

for x in range(2, 5001):
  a = 2 * x - 1
  if (a ** 2 - a) % 10000 == 0:
    print(a)

---
Q?


Create the product of two integers as follows


\
1 $\times$ 1998, 2 $\times$ 1997, 3 $\times$ 1996, ..., 999 $\times$ 1000


\
How many numbers out of 999 products are divisible by 12?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


[ Arithmetic solution ]



We think about this type of problem think there should be any "periodicity".



\

All types of expressions are (even) $\times$ (odd) or (odd) $\times$ (even)


\
To be a multiple of 12, 

(multiple of 12) $\times$ (other) or (multiple of 3) $\times$ (multiple of 4)


\
(Multiple of 2) $\times$ (Multiple of 6) is (even) $\times$ (even), so it is excluded.


\
When looking at the numbers of the first 12 sets of 1 $\times$ 1998, 

2 $\times$ 1998, 3 $\times$ 1997, …… 12 $\times$ 1987,


(Multiple of 12) $\times$ (Other) is 7 $\times$ 1992, 12 $\times$ 1987



(Multiple of 3)  $\times$ (Multiple of 4) is 3  $\times$ 1996, 4  $\times$ 1995


\
Even if you check the next 12 pieces, you can see that there are 4 pieces in the same order


\
From 999/12 = 83 ... 3, there are 83 cycles of 12 products.

and the third product of 999 $\times$ 1000 out of the remaining three is applicable.

\
The number to be calculated is 83 $\times$ 4 + 1 = 333 ... (Answer) 



\

[ Python ]



First, set 0 to the `count` that counts the applicable number.


\
Also, assign 1998 to the variable `y`multiply the variable x that is assigned from 1 to 999.



\

Take out the numbers from 1 to 999 and assign them in the `x`

and create `x × y` in order.

\
`x × y` is divided by 12 and count when the remainder is 0.

\
`break` when y is 999.


\
`y` is decremented by 1



\

When the for loop ends, count is output at the end

In [ ]:
#sample

count = 0
y = 1998

for x in range(1, 1000):
  if y == 999:
    break
  elif x * y % 12 == 0:
    count += 1
    #print(x,"×", y)
  y -= 1

print(count, "pieces")

You can also create a code of the same calculation with a while statement.

In [ ]:
#while sample

count = 0 
x = 1
y = 1998

while True:
  if y == 999:
    break
  elif x * y % 12 == 0:
    count += 1
    #print(x, '×', y)
  x += 1
  y -= 1
  
print(count,"pieces")

###Symbol of calculation rule

---
Q?


It is defined that the symbol $[a]$ represents the integer part of the number $a$.


\
For example, $ \left [\dfrac {1} {2} \right] = 0 $, and $ \left [\dfrac {7} {3} \right] = 2 $.

\

(1) Find the sum of 

$ \left [\dfrac {1} {2} \right] + \left [\dfrac {2} {2} \right] + \left [\dfrac {3} {2} \right] + \left [\dfrac {4} {2} \right] + ・ ・ ・ + \left [\dfrac {50} {2} \right]$


\
(2) Find the sume of  

$ \left [\dfrac {3} {4} \right] + \left [\dfrac {6} {4} \right] + \left [\dfrac {9} {4} \right] + \left [\dfrac {12} {4} \right] + ・ ・ ・ + \left [\dfrac {99} {4} \right] $


\
(3) Find the sum of

$\left[\dfrac{2}{4}\right] + \left[\dfrac{3}{4}\right] +\left[\dfrac{4}{4}\right] +\left[\dfrac{6}{4}\right] + \left[\dfrac{8}{4}\right] +\left[\dfrac{9}{4}\right] +　・・・+\left[\dfrac{100}{4}\right]$

Note, the numerator is a multiple of 2 or 3.

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

(1)


[ Arithmetic solution ]



Focusing on the integer part, when the numerator is even number,

the integer part is 1, 2, 3, 4, ..., 25.


\
The sum is (1 + 25) $\times$ 25 $\div$ 2 = 325


\
When the numerator is odd number, 

the integer part is 0, 1, 2, 3, ..., 24.

\
The sum is (1 + 24) $\times$ 24/2 = 300.


\
In total, 325 + 300 = 625 ... (answer)





\

[ Python ]



Set variable `sum` to 0.


\
Number from 1 to 50 to be assigned to numerator `n`.

`n` is divided by the denominator 2 and add the number of integer parts to `sum`.

In [ ]:
#(1)sample

sum = 0

for n in range(1, 51) :
  sum += n // 2
  #print(sum)             #For checking the progress

print(sum)

(2)

[ Arithmetic solution ]



Since the numerator is a multiple of 3 and the denominator is that of 4, 

check from first number to 12th as one cycle.


\
Sum of the first cycle = 0 + 1 + 2 + 3 = 6


\
As the sum of the next one cycle is 3 + 4 + 5 + 6 = 18, 

it is found that sum of the cycle increases by 3 $\times$ 4 = 12.


\
Based on the calculation of  99/12 = 8 ... 3, it is divided into 8 cycles and 99.


\
The sum of 8th cycle = 6 + 12  $\times$ (8 - 1) = 90


\
The sum of first to 8th cycles = (6 + 90)  $\times$ 8 $\div$ 2 = 384


\
Integer of 99/4 is 99/4 = 24 ... 3.

\
Therefore all sums are 384 + 24 = 408 ... (answer)



\

[ Python ]



The solution is the same as (1), because the numerator increases by 3 from 3 to 99.



    for n in range(3, 100, 3) :

In [ ]:
#(2)sample

sum = 0

for n in range(3, 100, 3) :
  sum += n // 4
  #print (sum) #For checking the progress

print(sum)

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

(3)

[ Arithmetic solution ]



The numerator is a multiple of 2 or 3 and the denominator is 4.

\
Same as (2), check from first number to 12th as one cycle.


\
There are 8 numbers in one cycle 

and the sum of the first cycle = 0 + 0 + 1 + 1 + 2 + 2 + 2 + 3 = 11


\
The sum of the next cycle = 3 + 3 + 4 + 4 + 5 + 5 + 5 + 6 = 35

\
It is found that the sum increases by 3 $\times$ 8 = 24.


\
According to 100/12 = 8 ... 4, there are 8 cycles 

and 98, 99, and 100 in the last cycle.


\
The sum of 8th cycle = 11 + 24  $\times$ (8-1) = 179


\
The sum of first to 8th cycles = (11 + 179)  $\times$ 8 $\div$ 2 = 760


\
According to 98 $\div$ 4 ＝ 24… 2, the sum of the last cycle is 24 + 24 + 25 ＝ 73. 

\
Therefore the grand total of sum is 760 ＋ 73 ＝ 833 ----- (Answer)



\

[ Python ]



The solution is the same as (1), and if the numerator is divisible by 2 or 3, `n // 4` is calculated.

In [ ]:
#(3)sample

sum = 0

for n in range(1, 101) :
  if n % 2 == 0 or n % 3 == 0:
    sum += n // 4
    #print (sum)                       #For checking the progress

print(sum)

###Integer


---

Q?



N represents an integer. 

Among the integers from 1 to N, the number of multiples of 3 is A, 

the number of multiples of 4 is B, 

and the number of integer that is neither a multiple of 3 nor a multiple of 4 is C.


\
(1) When N is 50, find A, B, and C respectively.



(2) Find all N such that C is 12.



(3) N is an integer from 1 to 250. 

How many pieces of N are there such that N is twice as much as C?



(4) How many pieces of N are there such that a difference between A and B is 15?


Also, find the smallest and largest of these numbers, respectively.

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

Answer

(1)

A = 16, B = 12, C = 26

(2)

N = 23, 24

(3)

104 pieces

(4)

N = 12 pieces

Smallest = 171

Largest = 188

\

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

(1)



[ Arithmetic solution ]



50 $\div$ 3 = 16 remainder 2 → number of A is 16 ... (answer)


\
50 $\div$ 4 = 12 remainder 2 → number of B is 12 ... (answer)


\
50 $\div$ 12 = 4 remainder 2

Number of  multiples of 12 is 4.


Number of C is 50 - (16 + 12 - 4) = 26 ... (answer)



\

[ Python ]



Create counters `A`, `B`, `C`with 0 that count the number of A, B, C.


\
Assign numbers from 1 to 50 to the variable `N` in order


\
If N is divided by 3 and the remainder is 0, `A += 1`



If N is divided by 4 and the remainder is 0, `B += 1`



If dividing by 3 or 4 does not result in remainder is 0, `C += 1`


\
Output the result at the end when the for loop ends

In [ ]:
#(1)sample

A = 0
B = 0
C = 0

for N in range (1, 51):
  if N % 3 == 0:
    A += 1
  if N % 4 == 0:
    B += 1
  if (N % 3 != 0) and (N % 4 != 0):
    C += 1

print("A=", A, "B=", B, "C=", C)


――――――――――――――――――――――――――――――――――――――――――――――――



(2)



[ Arithmetic solution ]



Check how many Cs are in 12 which is the least common multiple of 3 and 4


\
Number of C is 6 of 1, 2, 5, 7, 10, 11


\
Based on 12 $\div$ 6 = 2 remainder 0, when C comes to 12, 

N is the 6th number of the second cycle which is 11 + 12 = 23.

\
When N is 24 which is a multiple of 3 and 4, C is still remained 12.

\
When N is 25, C is 12 + 1 =13.

\
Therfore while C = 12, N is 23 and 24. --- (answer)


\

[ Python ]



Count variable `C` is 0


\
Set the number to be assigned/examined from 1 to 1000

\
When the number is applicable to C, `C += 1` and output N when C becomes 12.


\
When C becomes 13, break for loop break

In [ ]:
#(2)sample

C = 0

for N in range (1, 1000):
  if (N % 3 != 0) and (N % 4 != 0):
    C += 1
  if C == 12:
    print(N)
  if C == 13:
    break

23
24


――――――――――――――――――――――――――――――――――――――――――――――――



(3)



[ Arithmetic solution ]



As with (2), check 12 pieces as one cycle.


\
The combination of C and N that meets the conditions in the first cycle is

(C，N）＝(2，4)，(3，6)，(4，8)，(5，10)，(6，12)


\
In the second cycle, (C, N) = (8, 16), (9, 18), (10, 20), (11, 22), (12, 24)


\
Since there are 5 sets in each cycle, 250/12 = 20 remainder 10

\
There are applicable 4 numbers out of the remainder 10 numbers.

\
In total 5 $\times$ 20 + 4 = 104 ... (answer)


\

[ Python ]



Set the count variable `C` and `count` to 0 that counts C and N that meets the condition.


\
Assign a number from 1 to 250 to N 

and if there is an N applicable to the condition of C, `C += 1`.


\
If N is twice of C, `count += 1`


\
Output result after checking all

In [ ]:
#(3)sample

C = 0
count = 0

for N in range (1, 251):
  if (N % 3 != 0) and (N % 4 != 0):
    C += 1
  if N == C * 2:
    count += 1
    #print(C,N)

print(count, "pieces")

104 pieces

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

(4)



[ Arithmetic solution ]



Check first and second cycles


\
The difference between A and B is 0 or 1 in the first cycle

and 5 Ns at difference 0 and 7 Ns at difference 1.


\
In the 2nd cycle, difference 0 in the 1st cycle becomes difference 1 

and difference 1 in the 1st cycle becomes difference 2.


\
Based on the above, when the difference is 15 in the 15th cycle, 

there are 7 Ns and in the 16th cycle, there are 5 Ns.

Therefore in total 12  ... (answer)


\
The smallest number is 12 $\times$ 14 + 3 = 171 ... (answer)


\
The largest number is 12 $\times$ 15 + 8 = 188 ... (answer)



\

[ Python ]



The counter is `A`,` B`and `count` that counts the number of A, B, and N.

\
There is a list variable `num` that contains the applicable N.


\
Assign and check the number from 1 to 500 in order


\
Examine A and B in the same way as in (1).

\
If the difference between A and B is 15, `num.append(N)` and `count += 1`.

\
The difference between A and B can be `A - B == 15` 

because it can be found that A is more than B.

\
Another way to represent the difference, use `abs(A - B) == 15`


\
`abs()`, which has already appeared, is a built-in function that outputs 

(returns) the absolute value of the numbers or the result of formula in it.


\
If the difference between A and B does not reach 15 in one cycle, 

the for loop is interrupted (although it may be looped to the end).

The code for that is

    if abs(A - B) == 17:
      break


In the cycle when the difference between A and B becomes 15, the difference may be 15 and 16.

\
Iif `abs (A --B) == 16` is used, 

the last number with a difference of 15 will not be available


\
Finally output count


\
The smallest and largest numbers are previously mentioned `min()` and `max()`


\
Checks the numbers in the `num` list and 

outputs (returns) the smallest and largest numbers.

In [ ]:
#(4)sample

A = 0
B = 0
num = []
count = 0

for N in range (1, 500):
  if N % 3 == 0:
    A += 1
  if N % 4 == 0:
    B += 1
  if abs (A - B) == 15: # (A --B == 15) or (B --A == 15): But OK, A --B == 15: Just OK
    num.append(N)
    count += 1
  if abs(A - B) == 17:
    break

print(count, "pieces")
print ("The smallest number is", min (num))
print ("The largest number is", max (num))

###Symbol of calculation rule

---
Q?

The symbol ☆ execute the calculation of 

A ☆ B = A $\times$ (A - B) for the two integers A and B. 

\
Calculate (5 ☆ 2) ☆ 12

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

Calculate accurately according to the rule of arithmetic operation.


\
(5 ☆ 2) = 5 $\times$ (5 - 2) = 15 

15 ☆ 12 = 15 $\times$ (15 - 12) = 45 ------ (Answer)

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

Create a function to do this calculation of (A ☆ B).

\
Since defining a function, usa `def`

\
Since ☆ cannot be used in the function name, it is `A_B()`.

\
The arguments are two symbols A and B.

\
Since the calculation is A $\times$ (A - B), the code is A * (A - B) 

and this formula is returned.

\
It's very simple.

\
To calculate (5 ☆ 2) ☆ 12, you should assign the calculation result of (5 ☆ 2) 

to the variable C and then calculate C ☆ 12.

In [ ]:
#sample

def A_B(A, B):
  return A * (A - B)

C = A_B(5,2)

A_B(C, 12)

In [ ]:
#sample 

def A_B(A, B):
  return A * (A - B)

C = A_B(5,2)
print(A_B(C,12))

---
Q?

The symbol `_` execute the calculation of

`A_B` = 3 $\times$ A - B + 2 for the two integers A and B.

\
(1) Make the function of this calculation

(2) Calculate (16_24)_ (21_7) with the function

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

(2) Arithmetic answer 

(16_24）＝3 $\times$ 16 - 24 + 2 ＝26

(21_7）＝3 $\times$ 21 - ７ + 2 ＝58

(26_58）＝3 $\times$ 26 - 58 + 2 ＝ 22 ---- (Answer)

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

[ Python ]

(1) 

As same as the above problem, `def A_B(A, B):`

Return the fomula of calculation as `return 3 * A - B + 2`

\
(2)

Assign the result of (16_24) to variable C and assign the result of (21_7) to variablle D

Calculate C_D

In [ ]:
#(1)sample

def A_B(A, B):
  return 3 * A - B + 2

#(2)

C = A_B(16, 24)
D = A_B(21, 7)

print(A_B(C,D))

---
Q?

When `<A, B>`, calculate `(A + B) x A - 2` 

When `<X, 2>`, result of calculation is 61. 

Define `<A, B>` as the function and find X

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

Arithmetic answer 

Make an formula acording to the rule of calculation, 

(X + 2) $\times$ X - 2 = 61 and (X + 2) $\times$ X = 63, the number applicable is

According to (7 + 2) $\times$ 7 = 63, X = 7 ..... (answer)

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

Define the function as same as above with `def` and `return`

Estimate the range of X is 1 to 20 and assign the number to X

Make `if stament` with the function and if applicable X is found, output X and break.

In [ ]:
#sample

def A_B(A, B):
  return (A + B) * A - 2

for X in range(1, 21):
  if A_B(X, 2) == 61:
    print(X)
    break

### Greatest common divisor


---

Q?



What is the program to find the greatest common divisor when two integers are input?


――――――――――――――――――――――――――――――――――――――――――――――――



Input two numbers a and b with the input() function


\
If a is smaller, divide b by a, if b is smaller, divide a by b

    if a < b :
      divisor = a
    else:
      divisor = b

There is another method of using replacement such as `a, b = b, a`, if you like.

\
In the case of this problem, the range of numbers is not fixed, 

use the `while statement`.


\
If the divisor divides both a and b, end the iteration with `break`


\
If not, reduce the number of divisors by 1.


\
When the iteration ends with `break`, the final divisor becomes 

the greatest common divisor and is output.

In [ ]:
#sample

a = int (input ("Enter integer a: a ="))
b = int (input ("Enter integer b: b ="))

if a < b :
  divisor = a
else:
  divisor = b

while True:              #or while divisor> 1: 
  if a % divisor == 0 and b % divisor == 0:
    break
  else:    
    divisor -= 1

print ("The greatest common divisor is", divisor, ".")

---

As for the least common multiple,

(Greatest common divisor) $\times$ (Least common multiple) 
= (Production of two numbers)

\
So, find the greatest common divisor first and 

(Least common multiple) = $ \dfrac {(product-of- two- numbers)} {(greatest-common-divisor)} $


---

Q?



The method of finding the greatest common divisor of two natural 

numbers `a` and` b` as follows is called Euclidean algorithm.


\
(1)  Divide `a` by` b` to find the remainder `x`


\
(2)  Divide `b` by the remainder` x` obtained in (1) to obtain the remainder `y`.


\
(3)  Divide `x` by the remainder` y` obtained in (2), and find the remainder `z`.


\
If you repeat this operation, it will be divisible at the end


\
The number divided when it is divisible is the desired greatest 

common divisor of `a`,` b`.


\
For example, if the greatest common divisor of 2453 and 10704 is done by the Euclidean algorithm,

10704 $\div$ 2453 = 4 remainder 892



2453 $\div$ 892 ＝ 2 remainder 669



892 $\div$ 669 = 1 remainder 223



669 $\div$ 223 = 3


\
From this calculation, the greatest common divisor of 2453 and 10704 is 223.


\
What is the program for finding the greatest common divisor with this Euclidean algorithm?


\
Make sure to enter two numbers





――――――――――――――――――――――――――――――――――――――――――――――――



Calculate `a % b` and assign the remainder to` r`, regardless of which of a and b is larger


\
When `r` becomes 0,` break` and outputs `b` as the greatest common divisor.


\
If `r` is not 0, assign b to a with` a = b` and assign r to b with `b = r`.


\
This ensures that a and b are swapped if a < b.

In [ ]:
#sample

a = int (input ("Enter integer a: a ="))
b = int (input ("Enter integer b: b ="))

while True:
  r = a % b
  if r == 0:
    break
  else: 
    a = b
    b = r

print ("The greatest common divisor is", b, ".")

### Prime factorization


---

Q?



What is the program that factorizes into prime factors 

when a natural number (up to about 10000) is input?


――――――――――――――――――――――――――――――――――――――――――――――――



Natural number is an integer of 1 or more.


\
Image that natural numbers are part of integers.



\

(1) Input the number to be factorized into prime factors


\
(2) Set the variable that assigned the prime number to divide as `p`

and assign 2 at first.

\
And prepare an empty box `factor = []` in the list to put the prime factor.



(3) If the natural number `n` is divisible by `p`, 

append `p` to `factor`.


\
Let the number of `n` divided by `p` be a new `n` 

and repeat this process until `n` is no longer divisible by `p`.


\
(4) When `n` is not divisible by `p`, add 1 to `p`.


\
(5) If `n` > 1, return to (3), and if `n` = 1, end.



\

It's hard to understand because there are two while statements.


\
The first while is a while that says, 

"If `n` is greater than 1, add 1 to `p` and repeat the second while."


\
The second while is 

"If it is divisible by the same prime factor, the division is repeated".

In [ ]:
#sample

n = int (input ("Enter the number to be factored into:"))
p = 2
factor =[]

while n > 1:
  while n % p == 0:
    factor.append(p)
    n = n / p
  p += 1

print('Factors are', factor)

print('Max factor is ', max(factor))    #When you want to output the largest prime factor

###Function of prime factorization

---
Q?

What is the function to do prime factorization?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

Just make the program created above a function.

Here, there is one `while statement`and a `for loop` is added.

In [ ]:
#sample

def p_factorize(x):
  factor = []
  for i in range(2, x+1):
      while x % i==0:
        factor.append(i)
        x = x / i
  return factor

p_factorize(10)

###prime number


---

Q?


What is the program to output the prime numbers in 1 to 100?

――――――――――――――――――――――――――――――――――――――――――――――――


A prime number is a number with only two divisors of 1 and the number itself.


\
Numbers other than 1 and prime numbers are called composite numbers.



The number of divisors is 3 or more.



――――――――――――――――――――――――――――――――――――――――――――――――



Assign a number from 2 to 100 (from 2 because 1 is not a prime number) 

to the variable `a` in `for loop` 

and the number from 2 to (input number) -1 that is a candidate for a divisor is 

assigned in order to `b` in the second `for loop`.

\

If `a` is divided by `b`, a is not a prime number, so break the for loop 

with `break` and move to the next number.


\
If not (`else`), that is, if a does not break at any `b`, then `a` is 

a prime number and is printed with` print`.

In [ ]:
#sample

for a in range(2, 101):
  for b in range(2, a):
    if a % b == 0:
      break
  else:
    print (a, end =', ')    # You don't have to separate them with comma (,)


---

Q?



What is the program that determines whether the input natural number 

is a prime number or not?


――――――――――――――――――――――――――――――――――――――――――――――――



Enter a natural number with the `input()` function, convert it to an integer 

with the `int()` function, and assign it to the variable `a`.


\
If `a` is 1, output "1 (a) is not a prime number"

\
If `a` is 2 or more, it is a composite number or a prime number, 

so the calculation is the same as above.


\
In the case of composite number, "xx(a) is not a prime number" is output.


\
Other than that (`else`) is a prime number, so" xx(a) is a prime number " 

is output.

In [ ]:
#sample

a = int (input ("Enter a natural number:"))

if a == 1:
  print (a, "is not a prime number")

elif a >= 2 :
  for b in range(2, a):
    if a % b == 0:
      print (a, "is not a prime number")
      break
  else:
    print (a, "is a prime number")

### Number of cases

---

Q?



How to choose 2 students for cleaning duty from 5 ?


――――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]



Number of ways to choose 2 students from 5 is 

$ \dfrac {5 × 4} {2 × 1} $= 10 ways  ・ ・ ・ (answer)



\

[ Python ]



Set `count` variable for counting ways to choose to 0


\
If there are five people, a, b, c, d, and e, 1 for the cleaning duty and 0 for the non-duty.

\
Since all 5 people are either 1 or 0, if you make all cases with `for loop`,


    for a in range(2):
      for b in range(2):
        for c in range(2):
          for d in range(2):
            for e in range(2):

Since there are two people on duty, count when the sum is 2, 

and `count` output when all the checks are completed.

               if a + b + c + d + e == 2:
                  count += 1

    print (count,'ways')

In [ ]:
#sample

count = 0

for a in range(2):
  for b in range(2):
    for c in range(2):
      for d in range(2):
        for e in range(2):
          if a + b + c + d + e == 2:
            print(a,b,c,d,e)
            count += 1

print (count,'ways')


---

Q?

How many ways to choose the cleaning duty from the five students? 

The number of student is from 1 to 5.


――――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]



There are two ways of on duty or not on each of the five people.

\
Number of ways in total is

2 $\times$ 2 $\times$ 2 $\times$ 2 $\times$ 2 = 32 ways


\
This includes that nobody is on duty, so it is excluded, 

32 - 1 = 31 ways ... (Answer)



\

[ Python ]



The idea is exactly the same as the previous problem, 

when counting, if the sum is non-zero,

               if a + b + c + d + e != 0:

In [ ]:
#sample
#Each person will be on duty or not, yes = 1 and not = 0
#Check the number in all cases
#However, except all 0

count = 0

for a in range(2):
  for b in range(2):
    for c in range(2):
      for d in range(2):
        for e in range(2):
          if a + b + c + d + e != 0:
            count += 1               

print (count, "ways")


---

Q?

How many ways to arrange 9 balls, 3 white balls and 6 black balls, in a row?


――――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]



It can be read as "How many ways to put 3 white balls in 9 boxes arranged in a row".


\
If you put in white balls, boxes to put black is automatically decided.


\
Then, ways of choosing 3 out of 9, 

$ \dfrac {9 × 8 × 7} {3 × 2 × 1}$ = 84 ways --- (answer)



\

[ Python ]



Regarding the number of cases, there are some programs (functions) in Python, 

and in the future we will use them to find the number of cases.


\
Here, we will consider the code using the basic idea such as `for loop` 

and `if statement`.



\

Set `count` variable for counting ways to 0


\
Consider how to put white or black in the boxes a ~ i 

with white ball = 1 and black ball = 0.


\
There are 9 boxes of a, b, c, d, e, f, g, h, and i, each of which contains 

white or black, so if you make all cases with `for loop`,

    for a in range(2):
      for b in range(2):
        for c in range(2):
          for d in range(2):
            for e in range(2):
              for f in range(2):
                for g in range(2):
                  for h in range(2):
                    for i in range(2):

Number of white ball is three, then counts when sum is 3.

\
`count` is output when all cases are checked.

               if a + b + c + d + e + f + g + h + i == 3:
                  count += 1

    print (count,'ways')

In [ ]:
#sample

count = 0

for a in range(2):
  for b in range(2):
    for c in range(2):
      for d in range(2):
        for e in range(2):
          for f in range(2):
            for g in range(2):
              for h in range(2):
                for i in range(2):
                  #print(a,b,c,d,e,f,g,h,i)
                  if a + b + c + d + e + f + g + h + i == 3:
                    count += 1

print (count, "ways")

If you write the for loop part using `list comprehension`

In [ ]:
#List comprehension

count = 0

list1 = [0, 1]
list2 = [[a, b, c, d, e, f, g, h, i] for a in list1 for b in list1 for c in list1 for d in list1 for e in list1 for f in list1 for g in list1 for h in list1 for i in list1]

for a, b, c, d, e, f, g, h, i in list2:
  #print(a, b, c, d, e, f, g, h, i)
  if a + b + c + d + e + f + g + h + i == 3:
    count += 1

print (count, "ways")

###itertools

In addition, there is also a method of using a program (module) 

called `itertools` which I explained a little earlier.

\
The idea is exactly the same as sample

In [ ]:
#itertools

import itertools

list1 = itertools.product(range(2), repeat = 9)

count=0

for a,b,c,d,e,f,g,h,i in list1:
  if a + b + c + d + e + f + g + h + i == 3:
    count+=1

print (count, 'ways')

###scipy

---
The combination can be calculated by the program(module) called `scipy`.


\
There is a program called `special.comb()` in `scipy`

and if you use it, it will calculate [ Arithmetic solution ] as it is.

In [ ]:
# Import special program from scipyl module

from scipy import special

# Number of combinations of 9 to 3 pieces

x = special.comb(9, 3)

print (int(x), "ways")

★ Check it Out Part 2


\
Arithmetic problems can be almost solved if you can read the problem sentences 

accurately and organize the conditions written in the problem sentences 

so that you can easily understand them.


\
It is important to interpret the problem accurately and organize the conditions.


\
The same is true for Python, so if you can organize data such as numbers and 

string/characters (also called information), you can create a program.


\
It's important to think about how to organize your data.


\
Code-writing techniques can be learned soon if you have the basics.


\
Develop` think power (basics)` now


---

Q?

How many ways to arrange 7 numbers 1, 1, 1, 2, 2, 3, 3 in a row 

so that the same numbers are not next to each other?


――――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ] 



When the first number in the row is 1, 2, and 3, check the case classification 

by the Tree diagram respectively.


\
Since the numbers of 2 and 3 are same, 

the case of 3 is the same as the case of 2.


\
I didn't draw a tree diagram in this text cell, so the table below looks 

a little hard to see.


\
(1) Looking at the case where the first is 1 and the second is 2, 

there are 10 ways as shown in the table below.


\
(2) The same conditions apply when the first is 1 and the second is 3, 

so there are 10 ways.


\

|No. 1 | No. 2 | No. 3 | No. 4 | No. 5 | No. 6 | No. 7 | 
|:------:|:------:|:------:|:------:|:------:|:------:|:------:|
| | | | | 1 | 3 | NG |
| | | | 2 | | | |
| | | | | 3 | 1 | 3 |
| | | 1 | | | | |
| | | | | | 2 | 3 |
| | | | | 1 | | |
| | | | | | 3 | 2 |
| | | | 3 | | | |
| | | | | | 1 | 3 |
| | | | | 2 | | |
| | | | | | 3 | 1 |
| 1 | 2 | | | | | |
| | | | | | | |
| | | | | | 1 | 3 |
| | | | | 2 | | |
| | | | 1 | | 3 | 1 |
| | | | | | | |
| | | | | | 1 | 2 |
| | | | | 3 | | |
| | | 3 | | | 2 | 1 |
| | | | | | | |
| | | | | 1 | 3 | 1 |
| | | | 2 | | | |
| | | | | 3 | 1 | NG |


\
(3) If you look at the cases where the first is 2 and the second is 1 and 3, 

there are 9 ways as shown in the table below.


\
(4) There are 9 ways when the first is 3 and the second is 1 and 2.


\


|No. 1 | No. 2 | No. 3 | No. 4 | No. 5 | No. 6 | No. 7 | 
|:------:|:------:|:------:|:------:|:------:|:------:|:------:|
| | | | 1 | 3 | 1 | 3 |
| | | 2 | | | | |
| | | | 3 | 1 | 3 | 1 |
| | 1 | | | | | |
| | | | | | 1 | 3 |
| | | | | 2 | | |
| | | | 1 | | 3 | 1 |
| | | | | | | |
| | | | | | 1 | 2 |
| | | | | 3 | | |
| | | 3 | | | 2 | 1 |
| | | | | | | |
| 1 | | | | | | |
| | | | | | | |
| | | | | 1 | 3 | 1 |
| | | | 2 | | | |
| | | | | 3 | 1 | NG |
| | | | | | | |
| | | | | 1 | 3 | 1 |
| | | | 2 | | | |
| | | 1 | | 3 | 1 | NG |
| | | | | | | |
| | | | | 1 | 2 | 1 |
| | | | 3 | | | |
| | | | | 2 | 1 | NG |
| | 3 | | | | | |
| | | | | | | |
| | | | 1 | 3 | 1 | NG |
| | | 2 | | | | |
| | | | 3 | 1 | NG | |


\
In total of (1) to (4) above, 10 + 10 + 9 $\times$ 2 = 38 ways ... (answer)



\

[ Python ]



From all possible cases of 7 variables, calculate the case 

where 1 + 1 + 1 + 2 + 2 + 3 + 3 = 13, but

\
if you try, other combinations that total 13 such as 

1 + 1 + 1 + 1 + 3 + 3 + 3 = 13 are also counted.


\
Therefore, I change the numbers to avoid double count

from 1, 1, 1, 2, 2, 3, 3 to 1, 1, 1, 20, 20, 300, 300.


\
Consider the case where the sum is 1 + 1 + 2 + 20 + 20 + 300 + 300 = 643


\
Then you can only count when there are three 1s, two 2s, and two 3s.



\

Set the counter to 0

    count = 0

Create all cases where a to g are 1, 20, or 300,

    for a in [1, 20, 300]:
      for b in [1, 20, 300]:
        for c in [1, 20, 300]:
          for d in [1, 20, 300]:
            for e in [1, 20, 300]:
              for f in [1, 20, 300]:
                for g in [1, 20, 300]:

Create an if statement with the total is 643 and 

the numbers that are next to each other are different.

                  if a + b + c + d + e + f + g == 643 and \

                  a != b and b != c and c != d and d != e and e != f and f != g :

Counts cases that meet the conditions and outputs `count` at the end 

when all loops are completed.

                    count += 1

    print (count, 'ways')

In [ ]:
#sample

count = 0

for a in [1, 20, 300] :
  for b in [1, 20, 300] :
    for c in [1, 20, 300] :
      for d in [1, 20, 300] :
        for e in [1, 20, 300] :
          for f in [1, 20, 300] :
            for g in [1, 20, 300] :
              if a + b + c + d + e + f + g == 643 and \
              a != b and b != c and c != d and d != e and e != f and f != g:
                #print(a,b,c,d,e,f,g)
                count += 1

print (count,'ways')

---

Q?


Some children bring gifts and exchange them.



Be sure to the gift bringing back is different from the one you brought.



How many ways are there the exchange of gifts in the following cases?



(1) When exchanging with 3 people



(2) When exchanging with 4 people



(3) When exchanging with 5 people


[ Arithmetic solution ]

 

(1)



There are two combinations of gifts in case of three children  

as (a, b, c) = (b, c, a), (c, a, b) ... 2 ways  (Answer)


\
(2)



In the case of 4 children a, b, c, d, if b receives from a,


\
(a, b, c, d) = (b, a, d, c), (b, c, d, a), (b, d, a, c)  3 ways


\
There are 3 ways each for c and d to receives from a, 

so 3 x 3 = 9 ways ... (answer)


\
(3)



In the case of 5 people a, b, c, d, e, 

consider the case where a receives from b.


\
If b receives from a, the remaining three people, c, d, and e, 

will exchange among them, so there are two ways according to (1).


\
When b receives from c, it is the same as when four people b, c, d, 

and e exchange among them, so there are three ways according to (2).


\
When b receives from d, it is the same as when four people b, c, d, 

and e exchange among them, so there are three ways according to (2).


\
When b receives from e, it is the same as when four people b, c, d, 

and e exchange among them, so there are three ways according to (2).


\
From the above, there are total of 11 ways for a to receive the gift for b.


\
When a receives the present from c, d, e, there are 11 ways each as above.



11 x 4 = 44 ways in total ... (answer)


[ Python ]





Since the cases of (1) and (2) are the same as [ Arithmetic solution ], 

there is the program of only (3)


\
The presents brought by a, b, c, d, and e are to be 

1, 10, 100, 1000, and 10000, respectively.


\
List the presents that a, b, c, d, e may recieve (do not recieve your own gift)


\
If the combination is OK, `count += 1`.


\
The conditions are 1, 10, 100, 1000, 10000 for each person, 

so if the total is 11111, it's OK.

    count = 0

    for a in [10, 100, 1000, 10000] :
      for b in [1, 100, 1000, 10000] :
        for c in [1, 10, 1000, 10000] :
          for d in [1, 10, 100, 10000] :
            for e in [1, 10, 100, 1000] :
              if a + b + c + d + e == 11111 :
                count += 1

    print (count, 'ways')

In [ ]:
#sample  (3) only

count = 0

for a in [10, 100, 1000, 10000] :
  for b in [1, 100, 1000, 10000] :
    for c in [1, 10, 1000, 10000] :
      for d in [1, 10, 100, 10000] :
        for e in [1, 10, 100, 1000] :
          if a + b + c + d + e == 11111 :
            count += 1
            #print([a, b, c, d, e]) #Confirm with

print (count, 'ways')

###Wolves and sheep


---

Q?


3 wolves and 4 sheep in different cages are put into one cage.


\
If the number of wolves is greater than the number of sheep 

(it's okay if they are the same), the sheep will be eaten by the wolves.


\
How many ways are there where sheep are not eaten by wolf?

\


――――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]



It can be calculated from the table in the same as counting the number of 

directions as follows and there are 19 ways in total ... (Answer)

\

| | | | | | | | | | | |
|:----:|:----:|:----:|:----:|:----:|:----:|:----:|:----:|:----:|:----:|:----:|
|# | 1 | NG |--- | NG |--- | NG |--- | 7 |--- | 19 |
| of | | &#124; | |  &#124; | |  &#124; | | &#124; | | &#124; | 
| W | 1 | NG | --- | NG | --- | 3 | --- | 7 |--- | 12 |
| o | | &#124; | | &#124; | | &#124; | | &#124; | | &#124; | 
| l |1 |1 | --- | 2 | --- | 3 | --- | 4 | --- | 5 |
| f | | &#124; | | &#124; | | &#124; | | &#124; | | &#124; | 
| | 0 | 0 | --- | 1 | --- | 1 | --- | 1 | --- | 1 |
|  | |0 | |1 | |1 | |1 | |1 | 
| | | # | of | S | h | e |e |p|

\


[ Python ]



The order from the 1st to the 7th to put in the cage is `a` to `g`.

\
The wolf is to be as 1, the sheep is 10.


\
Make all cases where either is put in with `for loop`.


\
Create a list `list1` of the order in case of the sum is 

1 + 1 + 1 + 10 + 10 + 10 + 10 = 43

    list1 = []

    for a in [1 ,10] :
      for b in [1 ,10] :
       for c in [1 ,10] :
          for d in [1 ,10] :
            for e in [1 ,10] :
              for f in [1 ,10] :
                for g in [1 ,10] :
                  if a + b + c + d + e + f + g == 43 :
                    list1.append([a, b, c, d, e, f, g])

    print (list1) #For list confirmation         

    print (len (list1)) #For checking the number of lists



――――――――――――――――――――――――――――――――――――――――――――――――



`len ()` is a built-in function that displays the number in `()`

\

The `len (list1)` above displays(`returns`) the number of elements in the `list1`.


\
Since the element of `list1` is a list of 1 and 10 arraged, 

`len()` is used to display the number of list.


\
It also be used for string.


\
If you set `len ("alphabet ")`, the number of alphabetic characters 

is displyed as `len ("alphabet ")` = 8.


\
    len (["dog", "cat", "horse", "giraffe", "bear", "elephant", `"tiger", "monkey", "gorilla", "rabbit", "snake", "lion"])

The number of elements of the animal name in the list = 12 is returned.

\

――――――――――――――――――――――――――――――――――――――――――――――――

As for the code,


\
The `count` that counts the order that meets the condition is set to 0.


\
Assign the element in `list1` one by one to another list `list_n`.


\
The 7 elements in `list_n` are taken out in order 

and the total is counted by the variable `total`.


\
Set `total` to 0 when a new loop starts



\

The total number of wolves is in the 1st place, and the total number of sheep is in the tens place.

\
As it's OK to put in one wolf at the beginning,


if the ones digit is larger than the tens digit other than 1, it will be NG,

stop the loop with `break`, and move to the next order list.


\
`total % 10` can be used to represent the ones digit 

and` total // 10` can be used to represent the tens digit.


\
Proceed to the last element of the list without interruption 

and when `total` reaches 43, it's OK, then `count += 1`



\

After checking everything, print `count` at the end


\
As for `range()`, for example, in the case of 0 to 4, write `range (0,5)` 

is OK, but usually 0 is omitted and written as `range (5)`.


\
`range (len(list1))` also means `range(0, len (list1))`


\
The arguments in `()` can be not only numbers but also variables and built-in functions.

    count = 0

    for a in range(len(list1)):
      list_n = list1[a]
      #print(listn)
      total = 0
      for b in range(7):
        total += listn[b]
        #print(total)
        if total != 1 and total % 10 > total // 10:
          break
        elif total == 43:
          count += 1
          #print(total)

    print (count, 'ways')

It's a bit annoying code, but I think I can devise more.

In [ ]:
#sample

list1 = []

for a in [1 ,10] :
  for b in [1 ,10] :
   for c in [1 ,10] :
      for d in [1 ,10] :
        for e in [1 ,10] :
          for f in [1 ,10] :
            for g in [1 ,10] :
              if a + b + c + d + e + f + g == 43 :
                list1.append([a, b, c, d, e, f, g])

print(list1) #For list confirmation         

print(len(list1)) #For checking the number of lists

count = 0

for a in range(len(list1)):
  list_n = list1[a]
  #print(listn)
  total = 0
  for b in range(7):
    total += list_n[b]
    #print(total)
    if total != 1 and total % 10 > total // 10:
      break
    elif total == 43:
      count += 1
      #print(total)

print(count, 'ways')

★ Summary of Arithmetic Operators

\

| Arithmetic | Symbol |
|:------:|:------:|
| Addition | `+` |
| Subtraction | `-` |
| Multiplication | `*` |
| Division | `/` |
|Exponentiation | `**` |  
| Division (quotient only) | `//` |
| Division (remainder only) | `%` |

\

###len, set


---

Q?



How many will this return?


    len([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 6, 2, 4, 8])

    len({0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 6, 2, 4, 8})


`{}` (curly braces) represents `set`


\
In case of  `len(set)`, the duplicated numbers will not be counted.

\

###Packing candies


---

Q?


There are 1 candy A, 2 candy B, and 3 candy C. 

When making a gift by packing some of them in a bag, 

how many ways can you make a gift?


――――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]



A is 0 or 1 in 2 ways, B is 0 to 2 in 3 ways, and C is 0 to 3 in 4 ways.



There are total of 2 $\times$ 3 $\times$ 4 = 24 combinations, but this include all 0.


24 - 1 = 23 ways ... (answer)



(Another solution)


Let's practice counting up.


There are 1 to 6 pieces, so count them up.



(1) 1 piece: 3 ways of A or  B or C



(2) In the case of two: 5ways of AB, AC, BB, BC, CC



(3) In case of 3 pieces: 6 ways of ABB, ACC, ABC, BBC, BCC, CCC



(4) In case of 4 pieces: 5 ways of ABCC, ABCC, ACCC, BBCC, BCCC



(5) In case of 5 pieces: 3 ways of ABCCC, ABBCC, BBCCC



(6) In case of 6 pieces: 1 way of ABCCCC



In total, 3 + 5 + 6 + 5 + 3 + 1 = 23 ways ... (answer)



\

[ Python ]



A is 0 or 1, B is 0 to 2, C is 0 to 3, and all cases are created.


\
Counted except when all 0

In [ ]:
#sample

count = 0

for A in [0, 1] :
  for B in [0, 1, 2] :
    for C in [0, 1, 2, 3] :
      if A + B + C != 0 :
        count += 1
        #print(A,B,C)
print (count, "ways")

###Arrange 3 cards from 8

---

Q?



When taking out 3 cards from 8 cards from 1 to 8 

and arranging them from the smaller one.


\
(1) How many ways to arrange that 3 cards are three consecutive numbers?



(2) How many ways to arrange that numbers on the three cards are evenly spaced

including the case of consecutive numbers?



(3) How many ways to arrange that two of the three cards are consecutive?


――――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]



(1)



6 ways of 123, 234, 345, 456, 567, 678 ... (answer)



(2)



(1) is also included because it is evenly spaced.


\
In addition, there are 6 ways of 135, 246, 357, 468, 147, 258.

\
6 + 6 = 12 ways in total ... (Answer)



(3)



Let's investigate and count up


\
1, 2, □ : 5 ways 

2, 3, □ : 4 ways 

3, 4, □ : 4 ways 

4, 5, □ : 4 ways 

5, 6, □ : 4 ways 

6, 7, □ : 4 ways 

7, 8, □ : 5 ways


There are in total 30 ways  ... (answer)



\

[ Python ]



(1)



Count setting


\
If a < b < c, a is the beginning of three numbers, so the range of a is 1 to 6

\

Since b is a number larger than a by 1 or more, 

the range of b can be set to a + 1 to 7.

\

Since c is a number larger than b by 1 or more, 

the range of c can be b + 1 to 8.


\
Count all the numbers within each number range,


\
Count when b ＝ a + 1,  c ＝ b + 1

In [ ]:
#(1)sample

count1 = 0

for a in range(1, 7) :
  for b in range(a + 1, 8) :
    for c in range(b + 1, 9) :
      if b == a + 1 and c == b + 1:
        count1 += 1
        #print(a,b,c)

print ("(1)", count1, "ways")


[ Python ]



(2)



Count setting



The range of numbers is the same as (1)



Counts cases of (1) or, difference of 2 or 3 or 4

In [ ]:
#(2)sample

count2 = 0

for a in range(1, 7) :
  for b in range(a + 1, 8) :
    for c in range(b + 1, 9) :
      if (b == a + 1 and c == b + 1) or \
        (b == a + 2 and c == b + 2) or (b == a + 3 and c == b + 3) or\
        (b == a + 4 and c == b + 4):
        count2 += 1
        print(a, b, c)

print ("(2)", count2, "ways")


[ Python ]



(3)



Count setting



The range of numbers is the same as (1)



Counts when the difference between a and b is 1 and c is larger than b, 

or when the difference between b and c is 1 and a is smaller than b.

In [ ]:
#(3)sample

count3 = 0

for a in range(1, 7) :
  for b in range(a + 1, 8) :
    for c in range(b + 1, 9) :
      if (b == a + 1 and c > b + 1) or (b > a + 1 and c == b + 1):
        count3 += 1
        #print(a, b, c)

print ("(3)", count3, "ways")

Code that summarizes (1)-(3)

In [ ]:
#(1)-(3)altogether


count1 = 0
count2 = 0
count3 = 0

for a in range(1, 7) :
  for b in range(a + 1, 8) :
    for c in range(b + 1, 9) :
      if b == a + 1 and c == b + 1:
        count1 += 1
        #print(a, b, c)

      if (b == a + 2 and c == b + 2) or (b == a + 3 and c == b + 3) \
        or (b == a + 4 and c == b + 4):
        count2 += 1
        #print(a, b, c)

      if (b == a + 1 and c > b + 1) or (b > a + 1 and c == b + 1):
        count3 += 1
        #print(a, b, c)

print ("(1)", count1, "ways")
print ("(2)", count1 + count2, "ways")
print ("(3)", count3, "ways")

###sum and difference  Crane and turtle


---

Q?



There are 42 carnes and tutles in total.



Sum of legs is 124.



Find the number of cranes.


――――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]



The number of legs is 2 for cranes and 4 for turtles.


\
If all were turtles, the total number of legs is 4 $\times$ 42 = 168.


\
This number is 168 - 124 = 44 more than actual number.


\
This is because all of them were turtles, so if you replace one turtle and one crane, 

every time replacing, the number of legs decreases by 4 - 2 = 2.


\
To reduce the number to 44 to make 124, 

44/2 = 22 times of replacing is required.


\
Since it is replaced 22 times, the number of replaced cranes is 22 ... (Answer)



\

[ Python ]

The number of crane is set to variable `crane`.

\
The maximum number of crane is 42 

and the number of turtles is expressed as (42 - crane).


\
The number of vines from 1 to 42 is put in the variable `crane` and examined.


\
The number of legs is expressed by an equation 

and if it becomes 124, the crane at that time is output as an answer.


\
I'm writing using the formatted string(f-strings) `f` to `format` the string 

that is mentioned below.

        print (f'Crane is {crane}  ... (Answer) Turtle is {42 --crane} ')


If you find the answer, end the loop with `break`.

In [ ]:
#sample

for crane in range(1, 43):
  if 2 * crane + 4 * (42 - crane) == 124 :
    print (f'Crane is {crane}  ... (Answer) Turtle is {42 --crane}')
    break

---
###f-strings (Formatted String Literals)

With this syntax, we can insert value/string directly into string constants 

with {variable}.

The cell below is a sample.

In  this note it sometines appears, so please familiarize yourself with how to use it.

In [ ]:
name = 'Alice'
score = 95
animal = 'Tiger'

print(f"My name is {name}. The score of math was {score}.  Animal I love is {animal}")

###Ratios and proportions

---

Q?


Raw wood contains 72% water.

If the first half of the water remains in raw wood after drying, 

what percentage of water does the wood contain after dried?


――――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]



Assuming that the weight of raw wood before drying is 100 g, 

the weight of water is 72 g and the wood part is 28 g.


\
The water after drying is $ 72 × \dfrac {1} {2} = 36g $ 

and the weight of the tree still remain 28g.


\
The percentage of water is $ \dfrac {36} {36 + 28}$ 

＝ 0.5625 ＝ 56.25% ・ ・ ・ (Answer)



\

[ Python ]



It's not a tyep of problem to be solved by `for statement`, 

just the math solution is used as a code.


\
Variable names are `raw_wood` as the weight of law wood,

 `water` as the weight of water before drying.

and `after_dry` as the weight of water after drying.

In [ ]:
#sample


raw_wood = 100

water = raw_wood * 0.72

wood = 100 - water

after_dry = water * 0.5

answer = after_dry / (after_dry + wood) * 100

print(answer, "%")


---

Q?


In one electoral district, the turnout of vote was 61% 

and the number of voters was 48,800.

\
If the number of female voters who has the right to vote in this electoral 

district is 32,000 and the turnout of vote of female was 70%, 

what is the turnout of male?


――――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]



Turnout of vote is calculated by the formula of 

voters $\div$ number of voters $\times$ 100


\
Number of voters who has right to vote in this electoral district is 

48800 $\div$ 0.61 = 80,000


\
Number of female voters is 32000 $\times$ 0.7 = 22400


\
Number of male voter who the right to vote is 80,000 - 32000 = 48,000


\
Number of male voters = 48800 - 22400 = 26400


\
Men's turnout of vote is 26400 $\div$ 48000 $\times$ 100 = 55% ... (answer)



\

[ Python ]



It is not a type to solve by `for loop` same as the baove problem.


The variables of sample below are `total` for the number of voters 

who have the right to vote in this electoral ditrict, 

`fv` for the number of female voters who voted, 

and `x` for the male turnout of vote.

In [ ]:
#sample


total = 48800 / 0.61

fv = 32000 * 0.7

x = (48800 -  fv) / (total - 32000) * 100

print(x, "％")


---

Q?



$\dfrac {2} {5} $ of  the number of sticker that A has is equal to $ \dfrac {3} {4} $ of the number of stickers that B has.

\
When A has 21 sheets more than B, how many does B have?


――――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]

This a problem of Ratio.

\
$ (Number of A) × \dfrac {2} {5} ＝ (Number of B) × \dfrac {3} {4} $

\
(Number of A) : (Number of B) = $ \dfrac {5} {2}: \dfrac {4} {3} = 15: 8 $


\
Since 15 - 8 = 7 is equivalent to 21 sheets, 

(Number of B) = 21 sheets $\times$ $ \dfrac {8} {7} $ = 24 sheets ... (answer)





\

[ Python ]



Decide the max number of A and B to 99 each and search for the number 

that fits the condition within that range.


\
The `if statement` expresses the two conditions in question as expressions.


\
If applicable number is found, output the number of B.

In [ ]:
#sample

for A in range(100) :
  for B in range(100) :
    if A * 2/5 == B * 3/4 and A - B == 21 :
      print (B, "sheets")

###Concentration of salt water


---

Q?


Cup A contains salt water with 20% concentration. 


Cup B contains 240 g of salt water with a different concentration than 

that of cup A.


\
The weights of salt contained in cup A and B are equal.

If all the salt water in cup A and B are mixed, it is with 10% concentration.

\
Find the weight of the salt water in cup A at first?


――――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]



Assuming that the weight of the salt water in cup A is `a` gram


\
Since the weight of salt in cup A and B is the same, 

the weight of salt  is `a` $\times$ 0.2 respectively.


\
Both of them is mixed up, you will get 10% salt solution, 

it is  (a $\times$ 0.2 $\times$ 2) $\div$ (a + 240) = 0.1


\
a $\times$ 0.4 ＝ (a ∔ 240) $\times$ 0.1 =  a $\times$ 0.1 ＋ 24


\
a $\times$ 0.3 ＝ 24 

\
Therefore a ＝ 80g ・ ・ ・ (answer)



\

[ Python ]



Assuming that `a` is an integer, use `for statement`.

\
The range of `a` is up to 500.


\
Other solutions will be showed later (using the sympy module).



The conditional expression of the if statement is the same as above [ Math solution ].

\
If a is found, output it and `break`

In [ ]:
#sample

for a in range(1,501):
  if a * 0.2 * 2 / (a + 240) == 0.1 :
    print(a,'g')
    break

###Manipulation of numbers


---

Q?



For a certain number, perform the following manipulation.


\
[ Manipulation ]

(1) If the number is a multiple of 3, it will be divided by 3.


\
(2) If the number is not a multiple of 3, subtract the remainder 

from that number when divided by 3.


\
(3) Repeat the manipulation of (1) or (2) 

and when it reaches 0, end the manipulation.


\
For example, when the first number is 36


\
36 --> 12 --> 4 --> 3--> 1 --> 0

\
36 becomes 0 in 5 manipulations.


\
Under this condition, answer the following questions


\
(1) How many manipulations does 78 become 0?


\
(2) How many numbers will be 0 at 5 manipulations?


――――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]



(1) Perform the manipulation accurately

\

1st time: 78/3 = 26


\
Second time: 26/3 = 8 ... 2, so 26 - 2 = 24


\
3rd time: 24/3 = 8


\
4th time: 8/3 = 2 ... 2, so 8 - 2 = 6


\
5th time: 6/3 = 2


\
6th time: 2/3 = 0 ... 2 so 2 - 2 = 0


\
Therefore, 6 times ... (answer)



(2) In order to reach 0 in the 5th operation, 

it must be 1 or 2 in the 4th operation.


\
Backward calculation using the tree diagram as shown below


\
Notice that there are certain rules to be found when making tree diagrams


\
If the result of the manipulation is a multiple of 3, 
 
the previous number is one of three vases which are 3 times of the number, 
 
the number with 2 added, and the number with 1 added.


\
If the result of the manipulation is not a multiple of 3, the previous number will be 3 times of the number.

\

|4th| 3rd|2nd|1st|Original|
|:---:|:---:|:---:|:---:|:---:|
||||27|28, 29, 81|
|||9|11|33|
||||10|30|
||||||
|1|3||||
|||5|15|16, 17, 45|
|||4|12|13, 14, 36|

\


|4th| 3rd|2nd|1st|Original|
|:---:|:---:|:---:|:---:|:---:|
||||54|55, 56, 162|
|||18|20|60|
||||19|57|
||||||
|2|6||||
|||8|24|25, 26, 72|
|||7|21|22, 23, 63|

\
From the tree diagram above, the number of numbers that become 0 in 5 operations is 22 ... (Answer)


[ Python ]



(1)



If the number of iterations is not fixed as in this problem, 

the `while statement` can be used.


\
Set `count` with 0 for the number of manipulation


\
Put 78 in the variable `x`


\
Repeat the operation if `x` is greater than 0 and exit when it reaches 0


\
The condition is coded by an expression according to the problem statement.


\
There are two choices, whether it is divisible by 3 or not, 

so use `if` and` else`.


\
Count under either condition


\
Finally output `count`

In [ ]:
#(1) sample

count = 0
x = 78

while x > 0 :
  if x % 3 == 0 :
    x = x / 3
    count += 1
  else :
    x = x - (x % 3)
    count += 1

print(count, 'times')


[ Python ]



(2)



First, set `count_n` to count the number that meets the conditions.


\
The repetition and condition part is the same as (1)


\
Check all the numbers from 1 to 500 with the variable set to `y` 

in `for statement`.

\
Set `count` for counting the number of manipulation.

\
It must be a program of backward calculation style  like [ Arithmetic solution ].

\
There is still the possibility that there will be 5 manipulations with more 

than 500 numbers, but it seems difficult to make such code.


\
If both `y` is 0 and `count` is 5, `coun_n += 1`.



Finally output `count_n`

In [ ]:
#(2) sample

count_n = 0

for y in range(1, 500) :
  count = 0
  while count <= 5 :
    if y % 3 == 0 :
      y = y / 3
      count += 1
    else :
      y = y - (y % 3)
      count += 1
      if y == 0 and count == 5:
        count_n += 1

print(count_n)

### random practice

---
Python has a `random` module as a program to create random numbers.


\
To create an integer, use `randint` function (program) in the random module.


\
The random module and randint function are not built-in functions, 

so import them first.

    from random import randint


\
`randint(a, b)` creates (returns) a random integer in the range a to `b`.

\
Noted that range of argument is slightly different from `range(a, b)`

which is from a to `b - 1`.

---
Q?

What is the program creating an age at random from 10 to 30 years old

and if the age is 20 years old or older, display "adult" 

and if it is under 20, display "underage"?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

Same as `from fractions import Fraction`, write code 

as `from random import randint`

\
When you use randint function, you can wirte `randiint()`.

\
If you write `import random`, when you use randint function, 

write `random.randint()`.

\
Assign number created by randint function to the variable `age`.

\
Case classification of " more than 20 years old or not" 

is expressed by `if statement`

and display "adult" or  "underage" depending on the age.

In [ ]:
#sample

from random import randint

age = randint(10, 30) 

if age >= 20:
  print (age, "years old is an adult") 	
else:
  print (age, "years old is underage")

###random comparison two integer


---

Q?

What is the program that creates two random integerss from 1 to 50, 

displays the two numbers, displays the larger one as "large > small" 

and displays "equal" if they are the same?


――――――――――――――――――――――――――――――――――――――――――――――――


Since there are two random integers, 

assign random numbers created by `randint` to the variables `x` and `y`.

\
Print two numbers with `print`


\
Compare with `if`,` elif`, `else` statements 

and display in three cases of "large " or "small" or "equal".

In [ ]:
#sample

from random import randint

x, y = randint (1, 50), randint (1, 50)     # Can be written together

print("x =", x, "，", "y ＝", y)

if x > y:
  print(x, ">", y)
elif x < y:
  print(y, ">", x)
else:
  print (f"Equal as {x} = {y} ")


---

Q?


As for random integer from 1 to 200, 

what is the program to display four cases when 

the number is divisible by 2 but not divisible by 3, 

or it is not divisible by 2 but divisible by 3

or it is divisible by both 2 and 3 

or it is not divisible by both 2 and 3 ?


――――――――――――――――――――――――――――――――――――――――――――――――



Random number generation with `randint`

\

Display the result in the case of four conditions

In [ ]:
#sample

from random import randint

x = randint(1,200)

if x % 2 == 0 and x % 3 != 0:
  print (x, "is divisible by 2 but not divisible by 3")
elif x % 2 != 0 and x % 3 == 0:
  print (x, "is not divisible by 2 but divisible by 3")
elif x % 2 == 0 and x % 3 == 0:
  print (x, "is divisible by 2 and 3")
else:
  print (x, "is not divisible by 2 and 3")

###random hit or miss


---

Q?

What is the program that when inputting the integer from 1 to 5, 

display whether the number is a hit or a miss?

\
In case of miss, the correct answer is also displayed.


\
The number of correct answers is gererated at random.


――――――――――――――――――――――――――――――――――――――――――――――――



Since it is an integer, `randint` is` import` from the `random` module.


\
Put the correct answer in the `answer` variable


\
Display "Please hit a number from 1 to 5"


\
Ask to enter in "Please enter an integer from 1 to 5"


\
Don't forget to convert to integer with `int` 

as input number with `input` is string.


\
If answer and input number are same, "Hit!!" is displayed, 

if they are different, "Miss. The correct answer is `answer`" is displayed.

In [ ]:
#sample

from random import randint

answer = randint(1,5)

print("Please guess the number from 1 to 5")

x = int(input ("Please enter an integer from 1 to 5:"))

if answer == x:
  print ("Hit!!!")
else:
  print (f"Miss. The correct answer is {answer}")

###random numbers and day


---

Q?



Create an integer at random from 1 to 7 and from the numbers that come out,

diplay as

1 = Monday, 2 = Tuesday, 3 = Wednesday, 4 = Thursday,

5 = Friday, 6 = Saturday, 7 = Sunday

What is this program?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


Create a random number from 1 to 7 with `randint` function 

and assign the created number to the variable `day`.


    day = randint(1, 7)

The number(`argument`) in `()` of `randint (1, 7)` is(from 1 to 7 not 6.

\
After that, by the if statement the number is 1, it's Monday, if it's 2, it's Tuesday ...

In [ ]:
#sample


from random import randint       #If "import random" here,

day = randint(1,7)                     # day = random.randint(1,7)

if day == 1:
  print (day, "is Monday")
elif day == 2:
  print (day, "is Tuesday") 
elif day == 3:
  print (day, "is Wednesday") 
elif day == 4:
  print (day, "is Thursday") 
elif day == 5:
  print (day, "is Friday") 
elif day == 6:
  print (day, "is Saturday") 
elif day == 7:                                 #else: also available
  print (day, "is Sunday")


You might see the code import aprt as ` import random` instead of 

`from random import randint`.

\
Then assignment part to `day` is used as `random.randint`.


    (1) from random import randint

          randint()

    (2)　import random

          random.randint()


If you want to use only randint in random module, use (1).

\

If you want to use various functions in random module, write (2).

\

It's like that, it's depend on you.

###random fortune paper


---

Q?

What is the program that creating random integers from 1 to 20 

and make fortune paper at 1,2 for Excellent luck, 3,4,5 for Fair luck, 

6,7,8,9,10 for A little luck, 11,12,13 for Uncertain luck 

14,15,16,17 for Bad luck, and 18,19,20 for Terrible luck?


――――――――――――――――――――――――――――――――――――――――――――――――



There are some ways to express the conditions, 

but the idea is the same as above.



\

How to write a conditional statement.


\
For example, if Fair luck appears, you can just use `elif fortune <= 5` 

without writing `elif fortune >= 3 and fortune <= 5`.


\
`elif` means "calculated only when the condition written in the above condition 

is not satisfied and is not calculated when the above condition is satisfied ".


\
When 2 comes out, it is `2 <= 5`, but it does not become "Fair luck" 

because 2 is a condition to become #Excellemnt luck".


\
The `if` above `elif` is calculated, then ` elif` written below is not calculated.


\
`else` means "calculate if it is not 17 or less".


\

I also tried using "f-strings ` f` "

In [ ]:
#sample

from random import randint

fortune = randint(1, 20)

word ='appears,'

if fortune <= 2:
  print (f'{fortune} {word} Excellent luck')

elif fortune <= 5 :
  print (f'{fortune} {word} Fair luck')

elif fortune <= 10:
  print (f'{fortune} {word} A little luck')

elif fortune <= 13:
  print (f'{fortune} {word} Uncertain luck')

elif fortune <= 17:
  print (f'{fortune} {word} Bad luck')

else:
  print (f'{fortune} {word} Terrible luck')

5 appears, Fair luck

###random hit or miss with hint


---

Q?

What is the program that when inputting the integer from 1 to 10,

display whether the number is a hit or a miss?



\
The number of correct answer is generated at random only once.

\
In this case, if it is miss, it is repeated that advising whether it is larger 

or smaller than the correct answer and ask to input anther number 

until the correct answer is given.


――――――――――――――――――――――――――――――――――――――――――――――――


Since it is a random integer, `randint` is` import` from the `random` module.


\
Put the correct answer in the `answer` variable


\
"Please guess the number from 1 to 10" is displayed.


\
Ask to `input` with" Please enter a number "  

(This is in the `while statement`)


\
Since the number of iterations is not fixed, iterative calculation processing 

is performed with the `while True:` statement.


\
If they are the same, it will be displayed as "Hit!!!" and if they are 

different, it will be displayed as "The correct number is a smaller number" 

or "a larger number".


\
Return to the beginning of the `while statement` 

and display "Please enter a number"


\
There are three conditions, "Hit", "smaller", and "larger", 

so use `if`,` elif`, and `else`

In [ ]:
#sample

from random import randint

answer = randint(1,10)

print ("Please guess the number from 1 to 10")

while True :
  x = int (input ("Please enter a number from 1 to 10:"))
  if answer == x :
    print ("Hit!!!, congratulations")
    break

  elif answer < x :
    print ("The correct number is smaller!")

  else :
    print ("The correct number is bigger!")

###Divisor Perfect number

---
Q?


A perfect number is a number whose sum of divisors excluding itself 

is equal to that number itself.

\
6 is the perfect number.

\
Divisors of 6 are 1, 2, 3, 6 and 1 + 2 + 3 = 6.


\
What is the program to display four perfect numbers from the smallest?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

Searching from 2 in order, set the candidate of the perfect number `n` to 2.

```
n = 2
count = 0
```

Set `count` variable which counts the number of perfect numbers found to 0 

and repeat the process until it reaches 3.
\

We don't know how many integers to look up, 

so I create a iterative process with `while statement`.

\
First, set `m` the sum of divisors to 0.

```
while count <4:
   m = 0
```

Using the `for statement`, in case the integer is `n`, 

divisors are assigned from 1 to (n -1) and if `n` is divisible the divisor, 

the divisor is added to` m`.
```
  for i in range (1, n):
          if n % i == 0:
              m += i
```
At next process, return to the `while loop`.

If n = m, output `n`, count the number of `n`and proceed to the next n.
```
if n == m:
   print (n)
   count + = 1
n + = 1
```

In [ ]:
#sample

n = 2
count = 0
while count < 4:
    m = 0
    for i in range(1,n):
        if n % i == 0:
            m += i
    if n == m:
        print(n)
        count += 1
    n += 1

###Concentration of salt water   <Solve problem wtih sympy module>


---

Q?



When the same amount of water was added to both 500g salt water with 5% 

concentration adn 400g salt water with 6%, the concentrations became equal.


\
How much water was added?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

We already used `var()` and `solve()` function in sympy module 

at the section of backward calculation.  

These two functions are useful to solve other problems.

\
This problem is to be solved with `var()` and `solve()`.

\
Express the problem as an equation and solve with sympy

\
Process is as follows

\
Import `var()` and `solve()` from `sympy`

```
from sympy import var, solve
```
The amount of water added is expressed as `x` grams, 

`x` is registered as a variable.

```
var("x")
```
 (Concentration) = (Weight of salt) $\div$ (Weight of salt solution)

\
Weight of salt is 5% of 500g salt water that is 500 x 0.05 = 25g and

\
Weight of salt is 6% of 600g salt water that iis 600 x 0.06 = 24g

\
Since the weight of salt water is 500 + x and 400 + x,

\
The formula that expresses the concentrations are equal

\
500 * 0.05 / (500 + x) = 600 * 0.06 / (400 + x)

\
To solve with solve transform the type of formula to `(left side) = 0`

\
500 * 0.05 / (500 + x) - 600 * 0.06 / (400 + x) = 0

\

Enter the formula on the left side in E

\
```
E = 500 * 0.05 / (500 + x) - 400 * 0.06 / (400 + x) 
```
Solve this formula with `solve()` and put the answer in `answer`

```
answer = solve(E)
```

If there is one variable, the answer comes to a list type.

\
As `x` is the first element and is a decimal (floating point), 

in order to print the answer with `print`,

put answer[0] in `int()` to make it an integer

```
print(int(answer[0]), 'g')
```

\

In [ ]:
#sample

from sympy import var, solve

var("x")

E = 500 * 0.05 / (500 + x) - 400 * 0.06 / (400 + x) 

answer = solve(E)

print(int(answer[0]), 'g')

### Ratio and proportion


---

Q?


Bear bought a book for 200 Japanese yen less than $ \dfrac {1} {3} $ 

of the money he had.


Next, he bought stationery for 1000 yen. 

The remaining money was $\dfrac{2}{5}$ of the amount he had.


What was the first amount Bear had?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

Express the problem as an equation and solve with sympy

\
Import `var()` and `solve()` from `sympy`
```
from sympy import var, solve
```

The amount Bear initially had is `b` Japanese yen, 

register `b` as a variable
```
var("b")
```

(Book price) = b * 1/3 - 200

\
(Total amount spent) = (book price) + (stationery price) = b * 1/3 - 200 + 1000 

\
The total amount spent is 1 - 2 / 5 = 3/5 of the first amount, 

so if you express it in an equation, it is b * 3/5

\
b * 1/3 - 200 + 1000 and b * 3/5 are equal

\
Expressing this as a formula, b * 1/3 - 200 + 1000 = b * 3/5

\
Transform this formula to `(left side) = 0` to solve with sympy 

\
b * 1/3 - 200 + 1000 - b * 3/5 = 0

\
Enter the formula on the left side in E

```
E = b * 1/3 - 200 + 1000 - b * 3/5
```

Solve this formula with `solve()` and put the answer in `answer`

```
answer = solve(E)
```

If there is one variable, the answer comes to a list type.

\
As `b` is the first element and is a decimal (floating point), 

in order to print the answer with `print`,

put answer[0] in `int()` to make it an integer

```
print(int(answer[0]), 'yen')
```

In [ ]:
#sample

from sympy import var, solve

var("b")

E = b * 1/3 - 200 + 1000 - b * 3/5

answer = solve(E)

print(int(answer[0]), 'Japanese yen')

###Sum and difference sympy solution


---

Q?



At a shop, there are sandwiches for 600 Japanese yen each 

and lunch boxes for 750 yen each.


\
The sales of this shop were 11400 yen and 17 pieces in total were sold. 

How many sandwiches were sold?


――――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]


(750 $\times$ 17 - 11400) $\div$ (750 - 600) = 9 pieces ... (answer)



\

[ Python ]



In the case of 1 to 17 number of sandwiches and bento boxes, 

assign them to `s` and `b` variables 

and all possible combinations are made with `for loop`.


\
The condition of the problem is expressed by an equation 

and if there are applicable `s` and `b`, `s` is output.

In [ ]:
#sample

for s in range(1,18):
  for b in range(1,18):
    if s + b == 17 and 600 * s + 750 * b == 11400:
      print(s, 'pieces')


＜Python another solution＞

** `! !! Remember how to use sympy's solve function! !! `**


\
This problem is linear equations to be learned in junior high school 

and in Python there is a `solve()` function for solving equations.

\

If the number of sandwiches and lunch boxes is `s` and `b` respectively 

and the condition of the problem is expressed by an equation.


`s + b = 17`    (` ＝ `here is an equal sign (equal equal))

`600 × s + 750 × b = 11400`


If the two equations are transformed to the form `(left side) = 0`,

\
(1): `s + b ー 17 = 0`

\
(2)：`600 × s + 750 × b ― 11400 ＝ 0`

\

Therefore, the (left side) of (1) is `E1`.

 (` E1` is a variable, so you can decide the name yourself).


\
Let the (left side) of (2) be `E2 = 600 × s + 750 × b ― 11400`.

\

(Left side) means "left side of = (equal symbol)"


\
If you put these E1 and E2 into  `solve()`finction of the sympy module,

s and b are found.


\
The concrete code is to first `import` the` var` and `solve` functions 

from the` sympy` module.
```
from sympy import var, solve
```

Register s and b are variables
```
var ('s, b')      #This is the same as writing s, b = var ('s, b')
```

Assign/put the expressions of the two conditions in `E1` and` E2`.

```
E1 = s + b-17

E2 = 600 * s + 750 * b ― 11400
```

Put these two expressions in the `solve` function 

and put the calculated answer in the` answer`.

Code for this is 
```
answer = solve([E1, E2], [s, b])
```

Finally, when `answer` is output, displayed as 

    {s:9, b:8}

Iif you want to display only sandwiches

    print('sandwich is', answer[s], 'pieces')


When there are two variables to be solved, 

`answer` is actually a type of `dictionary` 

and if you specify the key as `answer[s] `,

`value` 9 that is paired with `key`s is displayed.

In [ ]:
#sample

from sympy import var, solve

var('s, b')

E1 = s + b - 17
E2 = 600 * s + 750 * b - 11400

answer = solve([E1, E2], [s, b])

print(answer)

print('sandwich is', answer[s], 'pieces')

###Sum and difference note and pocketbook sympy solution


---

Q?



Alice had 500 Japanese yen and tried to buy 3 notebooks and 3 highlighters, 

but 10 yen shortage.



If she bought 2 notebooks and 4 highlighters, she got a change of 40 yen.



How much are one notebook and one highlighter?


――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]



Solve with equation ("elimination calculation" so called in elementary school)


\
The problem statement is expressed by an equation 

with cost of 1 notebook = `n` Japanese yen and 1 highlighter = `h` yen.


\
From the conditions of the first half


\
n  $\times$ 3 + h  $\times$ 3 = 500 + 10  --- (1)


\
From the latter half of the conditions


\
n  $\times$ 4 + h  $\times$ 2 = 500 - 40 --- (2)

\
In order to eliminate `h` &emsp; &emsp; (That's why this is called "elimination calculation")

(2) $\times$ 3－ (1)  $\times$ 2

\

12  $\times$ n - 6  $\times$ n ＝ 1380 - 1020


\
Based on 6  $\times$ n = 360, 

n = 60 yen 

Substitute this for (1). 

h = 110 yen

\
Therefore, Notebook 60 yen, Highlighter 110 yen ... (answer)





\

[ Python/sympy ]



The arithmetic solution method is called "elimination calculation" 

which is the same as the solution method of equation 

to be  learned in junior high school.


\
The solution solved by sympy is the same as the solution of equations.



\

The procedure is as follows

\

`Import`` var` and `solve` from sympy

    from sympy import var, solve

Same as arithmetic solution, register `n` and` h` as variables with `var ()` 

(declare to use letters n and h as variables)

    var('n, p')

Write the above equations (1) and (2) in Python 

with the format of (left side) = 0 

and substitute (left side) for variable `E`.


\
Since there are two equations, assign them to `E1` and` E2` respectively.

    E1 = n * 3 + h * 3 - 510 

    E2 = n * 4 + h * 2 - 460

When "put` E1` and `E2` in` solve` and ask for `n` and` h` ",

write code as below:

    solve([E1, E2], [n, h])


Put the answer in a variable  `answer`

    answer = solve([E1, E2], [n, h])

If you output `answer` with` print (answer) `,

    {n:60, h:110}

which is displayed as "dictionary type".

\
This is fine, but when it is output as a normal style, write

    print(answer[n], answer[h])

In [ ]:
#sample

from sympy import var, solve

var('n, h')

E1 = n * 3 + h * 3 - 510 
E2 = n * 4 + h * 2 - 460

answer = solve([E1, E2], [n, h])

print("Notebook", answer[n], "Yen, Highlighter", answer[h], "Yen")

###Ages


---

Q?


6 years ago, the sum of the ages of my father, mother and brother was 

13 times my age. 

Now, the sum of the ages of the three is seven times my age.

\

How old was I 6 years ago?

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

We already solved this problem with python.

Here we solve again with sympy.


\
Import var and solve from sympy


\
Enter(declare) my age (`i`)  6 years ago 

and the sum of the three ages `s` is used as a variable in `var ()`.


\
The point of this solution is to transform the conditional equation 

to `(left side) = 0`.

\
6 years ago, based on the formula of s = i * 13, 

the formula is transformed to i * 13 - s = 0 

and the left side is substituted for `E1`.


\
For now, based on (i + 6) * 7 = s + 3 * 6, 

transform to s + 3 * 6 - (i + 6) * 7 = 0 and substitute the left side for `E2`.


\
Find `i` and `s` by `solve()` program in sympy.


\
Since `answer` comes out as a dictionary type of` {i: 4, s: 52} `, 

use `the key` as` answer[i] `to output `the value`.

In [ ]:
#sample

from sympy import var, solve

var("i,s")

E1 = i * 13 - s
E2 = s + 3 * 6 - (i + 6) * 7

answer = solve([E1, E2],[i, s])

print(answer)

print(answer[i],'years old')

### Python solution done Level1 first half profit and loss


---

Q?

At a shop a bag was on the sale at the price with 30% profit of the cost price.

But it was not sold, the price was discounted by 10% of the sales price.

When this was sold, the shop got profit of 255 Japanese yen.

Find the sales price of this bag.

ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

[ Solution by sympy ]



Import var and solve from sympy



\

Enter (declare) that the cost `c` is a variable with` var() `


\
Since the sales price is expected to be a profit of 30% of the cost, 

it expressed as `c * (1 + 0.3)`.

\
A discounted price which is 90% of the sales price is expressed as 

`c * (1 + 0.3) * (1 - 0.1)`.


\
Since sold price - cost = profit, this is expressed as 

`c * (1 + 0.3) * (1 --0.1) - c = 255`


\
Transforms to `c * (1 + 0.3) * (1 --0.1) - c - 255 = 0` 

and assigns the left side to the variable` E`


\
Since `E` is calculated by the` solve()` function to find c, 

sales price is c * 1.3 to be output.


\
The difference from the previous problem is that one variable `c` is 

defined by `var()`.


\
In this case, the answer solved by solve is not a dictionary but a `list type`.


\
Write `c[0]` to extract the first element of list C (write as [0] not [1]).



\

Note that the type of `c` is `float = decimal (floating point number)`, 

so convert it to `int = integer` and output.

In [ ]:
#sample

from sympy import var, solve

var("c")

E = c * (1 + 0.3) * (1 - 0.1) - c - 255

c = solve(E)

#print (c [0] * 1.3,'yen')        

print(int(c[0] * 1.3),'yen')

###English test  Sum and difference


---

Q?



An English test was done in a class of 35 people 

and the overall average score was 60 points.


There was a difference of 14 points between the average score 

of the top 10 people and the average score of the other 25 people.


\
What is the average score of the top 10 people?

\


――――――――――――――――――――――――――――――――――――――――――――――



Solve this problem using sympy



\

Import var, solve from sympy

    from sympy import var, solve

\
Declare the average score of the top 10 scores as a variable with `x` 

in` var () `.

    var ('x')

Calculate the total score from the problem sentence.


\
The average score of 10 people is `x`, the average score of 25 people is 

14 points lower than `x` and the sum is the total score as a whole.


\
The average score of all 35 people is 60 points, 

the total score is 60 $\times$ 35.


\
Both have the same total score

10 $\times$ + 25 $\times$ (x - 14) = 60 $\times$ 35

To solve with sympy, transfrom the above equation to 

the form of `(left side) = 0` and put it in `E`. 

    E = 10 * x + 25 * (x - 14) - 2100


Put `E` in` solve()` to find `x` and put it in` answer`

    answer = solve(E)

Same as the above problem, `answer` is a list type, and if you print it with` print`, displyed as 

    [70]

To be displayed as an integer

    print(answer[0])


Then, `70` is displayed.

In [ ]:
#sample

from sympy import var, solve

var ('x')

E = 10 * x + 25 * (x - 14) - 2100

answer = solve(E)

print(answer[0],'point')

###Playing rock-paper-scissors


---

Q?



Two people, Strawberry and Chocolate played rock-paper-scissors 

from the same place in the middle of the long stairs.


\
There is a rule that the winner moves 3 steps up and the loser moves 1 step down 

at each play.

\
When they played 50 times, Strawberry was 48 steps above Chocolate.

\

Assuming that draw is not counted, how many steps above or below 

the first place is Strawberry?


――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]



One play makes a difference of 3 + 1 = 4 steps between Strawberry and Chocolate.

\
If  Strawberry win all 50 times, Strawberry are (3 + 1) $\times$ 50 

= 200 steps above Chocolate.


\
Actually it is 48 steps, so the difference is 200 - 48 = 152 steps


\
If Strawberry loses instead of winning once, it will be 4 steps down instead of 

4 steps up, so a total of 8 steps will be different between win and lose.

\

It turns out that Strawberry lost 152 steps $\div$ 8 steps = 19 times


\
Strawberry won 50 - 19 = 31 times and lost 19 times.


\
3 $\times$ 31 - 1 $\times$ 19 = 74 steps up ... (answer)



\

＜Python/sympy＞



If the condition is expressed by the formula assuming that Strawberry wins 

`x` times and Chocolate wins `y` times,

as the total number of times the two won is 50,

x ∔ y = 50 → x + y － 50 = 0   

Put the (left side) of this equation in `E1`


\
The number of steps that Strawberry went up was x $\times$ 3 - y $\times$ 1 

and the number of steps that Chocolate went up was y $\times$ 3 - x $\times$ 1.

\
Since the difference is 48 steps, (x $\times$ 3 - y $\times$ 1) - (y $\times$ 3 - x $\times$ 1) = 48



(x $\times$ 3 - y $\times$ 1) - (y $\times$ 3 - x $\times$ 1) - 48 = 0

Put the (left side) of this equation in `E2`.


\
Put `E1` and` E2` in `solve()`to find `x` in `y`, 

and assign the answer to` answer`.


\
The code of the above is

    answer = solve([E1, E2], [x ,y])

Since we are looking for steps Strawberry is above, 

let the number of steps of Strawberry be `s_step`.


\
Display by specifying the number of pairs with the `[x]` and `[y]` keys 

in the dictionary type variable answer.


\
Because Chocolate won `y` times, Strawberry lost `y` times.


\
Enter the formula, `3 * answer[x] - 1 * answer[y]`


\
Finally output `s_step`

In [ ]:
#sample

from sympy import var, solve

var ("x y")       #or var("x, y")

E1 = x + y - 50
E2 = (x * 3 - y * 1) - (y * 3 - x * 1) - 48

answer = solve([E1, E2],[x, y])

s_step = 3 * answer[x] - 1 * answer[y]

print (s_step, 'steps above the first stair')

#You can also print as (3 * answer[x] -1 * answer[y]) without assigning to s_step.

### Work problem


---

Q?

The work that would be completed in 30 minutes if done by 10 people.

But it was actually took 32 minutes in total because it was started by 8 people 

and 2 people joined a little later.

\
Assuming that the amount of work that can be done in one minute is the same for 

all 10 people, how many minutes did the two people work who joined later?


――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]



Assuming that the amount of work per person per minute is 1, 

the total amount of work for this work is 1 $\times$ 10 $\times$ 30 = 300.


\
The workload of 8 people for 32 minutes is 1 $\times$ 8 $\times$ 32 = 256 

and 300 - 256 = 44 is the workload of 2 people.


\
44/2 = 22 minutes ... (answer)





\

[ Python ]



Since the working time of two people is 32 minutes at most, 

assign the time from 0 to 32 in the variable `x` in order.


\
Count all cases and output if `x` is found ​​that meets the conditions.

In [ ]:
#sample

for x in range(33) :
  if 8 * 32 + 2 * x == 10 * 30 :
    print (x,'minutes')
    break

＜Python/sympy＞



Import var and solve from sympy


\
Declare the work time `x` of two people as a variable with` var () `.


\
When the condition is expressed by an equation


\
Based on `8 * 32 + 2 * x = 10 * 30`, set` 8 * 32 + 2 * x - 300 = 0` 

and assign the left side to `E`.

\
Find `x` with the` solve()` function in sympy for `E`


\
As it will be displayed as a list, put the first element of the list `answer` 

in the variable` a` and then output it.

\
Or `print(answer[0])`

In [ ]:
#smple

from sympy import var, solve

var("x")

E = 8 * 32 + 2 * x - 300

answer = solve(E)

print (answer, 'minutes')         # Display as [22] minutes


a = answer [0]                     
print (a,'minutes')

#print(answer[0], 'minutes')


---

Q?



There is a work that Cookie takes 75 days to complete and Pudding takes 50 days.


\
Cookie and Pudding started this work together, but it took 40 days to finish 

because Cookie was absent for a few days from the work.


\
How many days did Cookie rest?


――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]



Assuming that this workload is 150, the daily workload 

of Pudding and Cookie is 3 and 2.


\
Pudding worked 40 days without rest, so her taotal workload is 3 $\times$ 40 = 120.

\
The remaining 150 - 120 = 30 is the amount of Cookie worked, 30/2 = 15 days.


\
Therefore, the number of days that Cookie were absent is 

40 - 15 = 25 days ... (Answer)



\

[ Python ]



Assign the number of days of Cookie from 1 to 40 to the variable `c`.


\
If applicable `c` is found, output `40 - c`

In [ ]:
#sample

for c in range(41):
  if 3 * 40 + 2 * c == 150 :
    print (40 - c,'days')

＜Python/sympy＞



The procedure for using sympy is the same as the previous problem

In [ ]:
#sample

from sympy import var, solve

var('c')

E = 3 * 40 + 2 * c - 150 

answer = solve(E)
a = answer[0]

print (40 - a,'days')

###Workload

####float


---

Q?



A and B work for a certain job. 

It takes 5 hours for A and B to do this work together.

If A alone does this work for 4 hours first and then B does the rest of the 

work alone, it will take another 7 hours.


\
How many hours does it take for each person to do this job?


――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]







(Answer) A: 7.5 hours B: 15 hours


\
The amount of work per hour for A and B is used as A and B respectively, 

using the alphabet as it is.


\
The total amount of work is to be expressed by an equation.


\
(A + B) $\times$ 5 ＝ A $\times$ 5 ＋ B $\times$ 5…(1)


\
Furthermore, A $\times$ 4 + B $\times$ 7 ... (2)


\
Based on (1) ＝ (2), A : B ＝ 2 : 1


\
The whole work is expressed as (2 + 1) $\times$ 5 = 15.


\
A is 15/2 = 7.5 hours ... (answer)


\
B is 15/1 = 15 hours ・ ・ ・ (answer)





\

[ Python / sympy]



The total amount of work is set to 1.


\
Import var and solve from sympy


\
Variable declaration of the amount of work per hour for each of the two people with `var ('A, B')`


\
Express the condition as an equation and assign it to `E1` and` E2`.

    E1 = A * 5 + B * 5 - 1

    E2 = A * 4 + B * 7 - 1


Find `A`,` B` with `solve()` and assign it to` answer`


\
Enter the answer of 1 divided by A and B in variable `A_time` and `B_time`.

In [ ]:
#sample

from sympy import var, solve

var('A, B')

E1 = A * 5 + B * 5 - 1 
E2 = A * 4 + B * 7 - 1

answer = solve([E1, E2], [A, B])

A_time = 1 / answer[A]
B_time = 1 / answer[B]

#print('A is', A_time,'hours')

print('A is', float(A_time),'hours')      #A_time is to be float but integer

#print('B is', B_time,'hours')

print('B is', float(B_time),'hours')

### Ratio and proportion (Multiple calculation)


---

Q?



A and B got pocket money at a ratio of 8 : 5.

\
Thereafter when A and B used at a ratio of 8 : 3, 

A's money remained 400 Japanese yen and B's money remained 450 yen.

\
How much money did B have at the beginning?


――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]



Let the amount of money spent by A and B be 8`x` yen and 3`x` yen respectively.

\
Express the money of the two people at first by the formula.


\
(8`x` + 400) : (3`x` ＋ 450) ＝ 8 : 5

\
Solve this proportional equation

\
(Product of inner terms) = (Product of outer terms)


\
(3`x` ＋ 450) $\times$ 8 ＝ (8`x` ＋ 400) $\times$ 5


\
3`x` $\times$ 8 ∔ 450 $\times$ 8 ＝ 8`x` $\times$ 5 ＋ 400 $\times$ 5


\
`x` $\times$ 24 ＋ 3600 ＝ `x` $\times$ 40 ＋2000


\
Based on `x` $\times$ (40 - 24) ＝ 3600 - 2000, `x` ＝ 100


\
The first thing about B is 3`x` + 450 = 750 yen ... (answer)





\

[ Python ]



When solving with `for statement`


\
Since the ratio of the first pocket money is A : B = 8 : 5, 

assuming A is from 80 yen to 5000 yen and is in increments of 80 yen,

and B is from 50 yen to 5000 yen and is in increments of 50 yen.

    for a in range(80, 5000, 80) :
      for b in range(50, 5000, 50) :

Thereafter, the conditions are as per the problem statement

In [ ]:
#sample

for a in range(80, 5000, 80) :
  for b in range(50, 5000, 50) :
    if a * 5 == b * 8 and (a - 400) / 8 == (b - 450) / 3:
      print (b,'yen')

＜Python/sympy＞



The first A's pocket money is `a` japanese yen and the B's is `b` yen.


\
Based on the raio of their first amount `a` :` b` = 8 : 5, 

set `a * 5 - b * 8 = 0` and assign the left side to` E1`.

\

The ratio of the amount spent is (a - 400) : (b - 450) = 8 : 3, 

so `(a - 400) * 3 - (b -450) * 8 = 0` and assign the left side to` E2`.

\

Find `a`and` b` with `solve()` for `E1` and ` E2`.

In [ ]:
#sample

from sympy import var, solve

var("a, b")

E1 = a * 5 - b * 8
E2 = (a - 400) * 3 - (b - 450) * 8

answer = solve([E1,E2],[a,b])

print(answer)

print ('B is', answer[b],'yen ... (answer)')


---

Q?



The number of girls in a class of the first semester was 

eight less than the $\dfrac{3}{5}$ of total number of the class.

\

At the second semester, two boys and two girls were transferred from other schools.

Then the number of girls has reached the $\dfrac{3}{7}$ of the number of the class.

\
How many students are there in the class at the second semester?


――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]



Assuming that the number of students in the first semester is 5`x`, 

the number of girls is 3`x` - 8.

\

The number of students in the second semester is 5`x`+ 2 + 2, the number of girls is 3`x` - 8 + 2.

\
The ratio of the number of students in the class : the number of girls = 7 : 3.


\
(5`x` ＋ 4) : (3`x` - 6) = 7: 3 


\
Solving this proportional formula, `x` ＝ 9 

\
5`x` ＋ 4 ＝ 5 $\times$ 9 ＋ 4 ＝ 49 people ・ ・ ・ (answer)





\

[ Python ]

When solving with `for statement`

\
Assign the number of class up to about 100 

and the number of girls up to about 50.

\
Process is as per the problem statement

In [ ]:
#sample

for c in range(1,100):
  for g in range(1,50):
    if g == c * 3/5 - 8 and g + 2 == (c + 4) * 3/7 :
      print (c + 4,'people')

Method using sympy is same as the previous problems.

When using sympy, import var and solve from sympy

\
Enter (declare) the number of students and girls in the first semester 

`c`and `g` as variables in `var()`

\
Based on g = c * 3/5 - 8, set c * 3/5 - 8 - g = 0 

and assign the left side to `E1`.

\
As for the second semester, based on g + 2 = (c + 4) * 3/7,

 (c + 4) * 3/7 - g - 2 = 0 and assign the left side to `E2`.

\
Find `c` and `g` in the solve program for `E1` and `E2`.

In [ ]:
#sample

from sympy import var, solve

var("c,g")

E1 = c * 3/5 - 8 - g
E2 = (c + 4) * 3/7 - g - 2

answer = solve([E1, E2],[c, g])

print(answer)

c = answer[c]
print (c + 4, 'people')

###Level1 sympy exercises Ratio and proportion

---

Q?



The juice was divided by three people, A, B and C in order. 

A got $\dfrac {1} {3} $ of the whole amount.


B got $ \dfrac {3} {8} $ of the remaining and $ 50mL $. 

C got $ \dfrac {7} {9} $ of the remaing after B got.

After C got, $100mL $ remained.

\

Find the whole amount of juice?


――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]


\
As $100mL $ is $ 1- \dfrac {7} {9} = \dfrac {2} {9} $ of the remaining 

after C got,

the amount before C got is $100 $ ÷ $\dfrac {2} {9}$ = 450mL. 


\
As 450mL + 50mL = 500mL is $ 1- \dfrac {3} {8} = \dfrac {5} {8} $ 

of the amount of juice before B got,

the amount before B got is $500 ÷ \dfrac {5} {8}$ = 800mL.


\
Since 800mL is the rest after A got, the first amount is $ 800 ÷ \dfrac {2} {3} $= 1200mL ... (answer)





\

[ Python ]



You can get the correct answer with a code of sample in the for statement, 

but it takes a lot of time.


\
Do not use time-consuming code as it is inefficient.


\
sympy code saves time

In [ ]:
#sample
'''
Whole amount＝z mL, A＝a mL，B=b mL，C=c mL
a is 1/3 of the whole, so z = a * 3
Calculated assuming that a, b, and c are up to about 1000 mL each
It takes a lot of time
'''

for a in range(1, 1000) :
  for b in range(1, 1000) :
    for c in range(1, 1000) :
      z = a * 3
      if z == a + b + c + 100 and b == (z - a) * 3/8 + 50 and c == (z - a - b) * 7/9 :
        print(z, 'ｍL')

In [ ]:
#Code sample using sympy
'''
Put(declare)  z, a, b, c as variables with var ()
Whole = z mL, A = a mL, B = b mL, C = c mL
Based on  z = a + b + c + 100, transform to z - a - b - c - 100 = 0 and assign the left side to E1.
Based on a = z * 1/3, transform to z * 1/3 - a = 0 and assign the left side to E2.
Based on  b = (z - a) * 3/8 + 50, transform to (z - a) * 3/8 + 50 - b = 0 and assign the left side to E3.
Based on c = (z - a - b) * 7/9, transform to (z - a - b) * 7/9 - c = 0 and assign the left side to E4.
Find z, a, b, c with the solve function in sympy for E1, E2, E3, E4.
Since answer is a dictionary type, specify z of the key of the total amount to be calculated and output the value.
'''

from sympy import var, solve

var("z,a,b,c")

E1 = z - a - b - c - 100
E2 = z * 1/3 - a
E3 = (z - a) * 3/8 + 50 - b
E4 = (z - a - b) * 7/9 - c

answer = solve([E1,E2,E3,E4],[z,a,b,c])

print(answer)

print(answer[z], 'mL')


---

Q?



The marbles were divided by four people, A, B, C, and D.



A took $ \dfrac {1} {3} $ of the whole amount and 15 pieces.



B took $ \dfrac {2} {7} $ of the remaining and 5 pieces



C took $ \dfrac {1} {2} $ of the remaining after B took and 5 pieces.



35 pieces remained as a share of D.



How many piece did A, B and C take?


――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]



As 35 + 5 = 40 is $ \dfrac {1} {2} $ of the remaining after C took,



The share of C is based on 40 $\div$ (1 - $\dfrac {1} {2}$) = 80, 80 - 35 = 45 pieces ... (answer)



In the same method of calculation, the shares of B and A, 

B = 39, A = 82 ... (answer)


\

[ Python ]


Total amount = z, A = a, B = b, C = c, d = 35 pieces


\
Accordning to the problem statement, it is found that `z = (a -15) * 3`.


\
The other method is the same as [ Arithmetic solution ] 

and the problem statement is expressed by an equation 

and `if statement` as below sample.

In [ ]:
#sample

d = 35

for a in range(1, 100) :
  for b in range(1, 100) :
    for c in range(1, 100) :
      z = (a - 15) * 3
      if z == a + b + c + d and b == (z - a) * 2/7 + 5 and c == (z - a - b) * 1/2 + 5 :
        print('A:', a, 'pieces', 'B:', b, 'pieces', 'C:', c, 'pieces')

＜Python/sympy＞

In [ ]:
#sample
'''
Put (declare) that # a, b, c are variables with var ()
Whole = z, A = a, B = b, C = c, d = 35, and the problem statement is expressed by an equation.
Based on z = a + b + c + 35, transform to  z - a - b - c - 35 = 0 and assign the left side to E1.
Based on a = z * 1/3 + 15, transform to z * 1/3 + 15 - a = 0 and assign the left side to E2.
Based on b = (z - a) * 2/7 + 5, transform to  (z - a) * 2/7 + 5 - b = 0 and assign the left side to E3.
Based on c = (z - a - b) * 1/2 + 5, transform to (z - a - b) * 1/2 + 5 - c = 0 and assign the left side to E4.
Find z, a, b, c with the solve program in sympy for # E1, E2, E3, E4
'''

from sympy import var, solve

var("z,a,b,c")

E1 = z - a - b - c - 35
E2 = z * 1/3 + 15 - a
E3 = (z - a) * 2/7 + 5 - b
E4 = (z - a - b) * 1/2 + 5 - c

answer = solve([E1,E2,E3,E4],[z,a,b,c])

print(answer)

print ('A :', answer[a], 'pieces,', 'B :', answer[b], 'pieces,' ,'C :', answer[c], 'pieces')

---

Q?


In a company the number of male employees is than 42 people more than 

$ \dfrac {2} {5} $ of the total employees 

and the number of female employees is 82 poeple less than 

$ \dfrac {2} {3} $ of the total.

\

How many female employees are there in this company?


――――――――――――――――――――――――――――――――――――――――――――――



[ Arithmetic solution ]


Assuming the total number of employees is to be 1.

Total 1 = (number of males) + ( number of females) 

= $ \dfrac {2} {5}$ + 42 + $\dfrac {2} {3}$ －82 

= $ \dfrac {16} {15} - 40 $


\
$ \dfrac {1} {15}$ = 40  

Therefore, 1 = 600 people

\

Number of femal = 600 $\times$ $\dfrac{2}{3}$ － 82 = 318 people・・・(answer)



\

[ Python ]



Total = z, number of man = m, number of lady = l

\
If z is estimeted uo to 1000 people and m and l are up to 500 people, 

it takes a lot of time in the for loop.


\
It turns out that if the number of loops increases in the for statement 

and the range of the number to be investigated increases, 

it will take a considerable amount of time.

In [ ]:
#sample

for z in range(1, 1000) :
  for m in range(1, 500) :
    for l in range(1, 500) :
      if z == m + l and m == z * 2/5 + 42 \
        and l == z * 2/3 - 82 :
          print(l, 'persons')


From the problem statement, use the fact that z = (m - 42) $\times$ 5/2 

based on m = z $\times$ 2/5 + 42.

This could reduce number of for loops and processing time.

In [ ]:
#sample

for m in range(1, 500) :
  for l in range(1, 500) :
    z = (m - 42) * 5/2
    if z == m + l and m == z * 2/5 + 42 \
      and l == z * 2/3 - 82 :
        print(l, 'persons')


＜Python/sympy＞



There is no for loop and no need for backward calculation.

\
In addition the condition of the problem statement is simply expressed 

as an equation.

\

Once you get used to it, it's easier and less time consuming.

In [ ]:
#sample using sympy
'''
Put (declare) that z, m, l are variables with var()
Number of total = z, men = m, lady = l 
Based on z = m + l, transform to z - m - l = 0 and assign the left side to E1.
Based on m = z * 2/5 + 42, transform to z * 2/5 + 42 - m = 0 and assign the left side to E2.
Based on  l = z * 2/3 - 82, transform to z * 2/3 - 82 - l = 0 and assign the left side to E3.
Find z, m, l for E1, E2, E3 with the solve program in sympy
'''


from sympy import var, solve

var("z m l")

E1 = z - m - l
E2 = z * 2/5 + 42 - m
E3 = z * 2/3 - 82 - l

answer = solve([E1,E2,E3],[z,m,l])

print(answer)

print ('Men :', answer[m], 'people,', 'Laies : ', answer[l], 'people ... (answer)', 'Total', answer[z], 'people' )

####If you want to know `sympy`with Colab--->[Sympy](https://colab.research.google.com/github/pnavaro/python-notebooks/blob/master/notebooks/15-Sympy.ipynb)

#Supplement

##Japanese Math for Kids

* As a site with arithmetic problems in English, it is just for reference for those who are interested in.

*   [Japanese Math for Kids](https://sites.google.com/site/japanesemathforkids2016/home)

*   [Japanese Math for Kids2](https://sites.google.com/view/japanesemathforkidsv2/home)

##Greek list 
lowercase

|  |  |||||||
|:------:|:------:|:------:|:------:|:------:|:------:|:------:|:------:|
|alpha |$\alpha$  ||iota|$\iota$||rho|$\rho$|
| beta |$\beta$  ||kappa|$\kappa$||sigma|$\sigma$|
| gamma |$\gamma$  ||lambda|$\lambda$||tau|$\tau$|
| delta |$\delta$  ||mu|$\mu$||upsilon|$\upsilon$|
| epsilon |$\epsilon$  ||nu|$\nu$||phi|$\phi$|
| zeta |$\zeta$  ||xi|$\xi$||chi|$\chi$|
| eta |$\eta$  ||omicron|o||psi|$\psi$|
| theta |$\theta$  ||pi|$\pi$||omega|$\omega$|

\
Uppercase

|  |  |||||||
|:------:|:------:|:------:|:------:|:------:|:------:|:------:|:------:|
|alpha |A  ||iota|I||rho|P|
| beta |B  ||kappa|K||sigma|$\Sigma$|
| gamma |$\Gamma$  ||lambda|$\Lambda$||tau|T|
| delta |$\Delta$  ||mu|M||upsilon|$\Upsilon$|
| epsilon |E  ||nu|N||phi|$\Phi$|
| zeta |Z  ||xi|$\Xi$||chi|X|
| eta |H  ||omicron|O||psi|$\Psi$|
| theta |$\Theta$  ||pi|$\Pi$||omega|$\Omega$|

##Blender(3D CG) with Python

What is `Blender`--> [Wikipedia](https://en.wikipedia.org/wiki/Blender_(software))

Blender is a free and open-source 3D computer graphics software toolset 

used for creating animated films, visual effects, art, 3D-printed models, 

motion graphics, interactive 3D applications, virtual reality, and, formerly, 

video games.

[Blender Home](https://www.blender.org/)

---
As I just started playing with `Blender`,

hopefully have a chance to show you `Blender with Python` 

hopefully in Vol.3 (or later Volume).

As for Blender-rendering, Colab [blender-render](https://colab.research.google.com/github/ynshung/blender-colab/blob/master/blender_render.ipynb)